<template>
  <div class="dialog">
    <el-dialog
      v-model="show"
      title="Tips"
      width="30%"
      :before-close="handleClose"
    >
      <span>This is a message</span>
      <span>{{ props.modal.prodName }}</span>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { onMounted, toRefs } from "vue";
const emits = defineEmits(["closemodal"]);
const handleClose = () => {
  emits("closemodal");
};
const props = defineProps({
  modal: {
    type: Object,
    default: function () {
      return {};
    },
  },
  show: {
    type: Boolean,
  },
});
const { show } = toRefs(props);
console.log(props);

onMounted(() => {
  console.log(props, "props");
});
</script>

<style scoped>
.dialog {
  height: 100%;
  width: 100%;
}
</style>
