<template>
  <el-pagination
    :current-page="currentPage"
    :page-sizes="[10, 20, 30, 40]"
    :page-size="pageSize"
    layout="sizes, prev, pager, next, jumper"
    :total="total"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
  >
  </el-pagination>
</template>

<script lang="ts" setup>
import { toRefs } from "vue";
const props = defineProps<{
  currentPage: number;
  pageSize: number;
  total: number;
}>();
const { currentPage, pageSize, total } = toRefs(props);
const emit = defineEmits(["handleCurrentChange", "handleSizeChange"]);
const handleCurrentChange = (current: number) => {
  emit("handleCurrentChange", current);
};
const handleSizeChange = (size: number) => {
  emit("handleSizeChange", size);
};
</script>

<style lang="scss" scoped></style>
