//定时任务

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive" class="container">
      <el-form
        ref="searchScheduleForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item prop="beanName">
          <el-input v-model="formInline.beanName" placeholder="搜索用户名" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
        </el-form-item>
      </el-form>
      <div>
        <el-button type="primary" @click="add">新增</el-button>
        <el-button type="danger" @click="pause(selectList as number[])"
          >批量暂停</el-button
        >
        <el-button type="danger" @click="del(selectList as number[])"
          >批量删除</el-button
        >
        <el-button type="danger" @click="resume(selectList as number[])"
          >批量恢复</el-button
        >
        <el-button type="danger" @click="run(selectList as number[])"
          >批量立即执行</el-button
        >
        <el-button type="primary" @click="open">日志列表</el-button>
      </div>
      <Table
        :refs="'multipleTableRef'"
        :column="column"
        :tableData="ScheduleList"
        @handleSelectionChange="handleSelectionChange"
        @toggleSelection="toggleSelection"
      >
      </Table>
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <el-dialog v-model="dialogVisible" :title="type" width="30%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="beanName" :prop="editData.beanName">
            <el-input v-model="editData.beanName" placeholder="beanName" />
          </el-form-item>
          <el-form-item label="请求方式" :prop="editData.methodName">
            <el-input v-model="editData.methodName" placeholder="请求方式" />
          </el-form-item>
          <el-form-item label="参数" :prop="editData.params">
            <el-input v-model="editData.params" placeholder="参数" />
          </el-form-item>
          <el-form-item label="cron表达式" :prop="editData.cronExpression">
            <el-input
              v-model="editData.cronExpression"
              placeholder="cron表达式"
            />
          </el-form-item>
          <el-form-item label="备注" :prop="editData.remark">
            <el-input v-model="editData.remark" placeholder="备注" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
    <el-dialog v-model="dialogVisible1" title="工作日志" width="70%">
      <el-form
        ref="searchScheduleForm1"
        :inline="true"
        :model="searchLog"
        class="demo-form-inline"
      >
        <el-form-item prop="jobId">
          <el-input v-model="searchLog" placeholder="搜索用户名" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="getScheduleLogList">搜索</el-button>
        </el-form-item>
      </el-form>
      <Table
        :refs="'multipleTableRef1'"
        :column="column1"
        :tableData="ScheduleLog"
      />
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  delSchedule,
  editSchedule,
  getSchedule,
  getScheduleInfo,
  saveSchedule,
  setSchedulePause,
  setScheduleResume,
  setScheduleRun,
  getScheduleLog,
} from "@/server/system/sys_schedule";
import { ref, nextTick, provide, onMounted, reactive } from "vue";
import {
  ElButton,
  ElDialog,
  ElForm,
  ElFormItem,
  ElInput,
  ElMessage,
  ElMessageBox,
  ElTable,
  FormInstance,
} from "element-plus";
import {
  editScheduleType,
  ScheduleLogType,
  ScheduleResType,
  ScheduleType,
} from "./types";
import { AddressType } from "@/types/address";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 获取列表
const searchScheduleForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getScheduleList();
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getScheduleList();
};
// 搜索
const formInline = reactive({
  beanName: "",
});
const onSubmit = () => {
  params.current = 1;
  getScheduleList();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
let type = ref("新增");
let editData = ref<editScheduleType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  editData.value = {
    beanName: "",
    methodName: "",
    params: "",
    cronExpression: "",
    remark: "",
  };
};
// 编辑
const edit = (edit: ScheduleType) => {
  dialogVisible.value = true;
  editData.value = edit;
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveSchedule({ ...(editData.value as ScheduleType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editSchedule({ ...(editData.value as ScheduleType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getScheduleList();
  dialogVisible.value = false;
};
// 选择
let selectList = ref<number[]>();
const handleSelectionChange = (selection: ScheduleType[]) => {
  selectList.value = selection.map((item) => item.jobId);
};
const del = (ids: number[]) => {
  console.log(ids);
  try {
    ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
      confirmButtonText: "OK",
      cancelButtonText: "Cancel",
      type: "warning",
    })
      .then(async () => {
        try {
          await delSchedule(ids as number[]);
          await getScheduleList();
          ElMessage({
            type: "success",
            message: "删除成功",
          });
        } catch (error) {
          console.log(error);
          ElMessage({
            type: "error",
            message: "删除失败，请重新操作",
          });
        }
      })
      .catch(() => {
        ElMessage({
          type: "info",
          message: "Delete canceled",
        });
      });
  } catch (error) {
    ElMessage({
      type: "success",
      message: "删除失败，请重新操作",
    });
  }
};
const pause = (ids: number[]) => {
  console.log(ids);
  try {
    ElMessageBox.confirm("你确定要暂停吗?", "Warning", {
      confirmButtonText: "OK",
      cancelButtonText: "Cancel",
      type: "warning",
    })
      .then(async () => {
        try {
          await setSchedulePause(ids as number[]);
          await getScheduleList();
          ElMessage({
            type: "success",
            message: "暂停成功",
          });
        } catch (error) {
          console.log(error);
          ElMessage({
            type: "error",
            message: "暂停失败，请重新操作",
          });
        }
      })
      .catch(() => {
        ElMessage({
          type: "info",
          message: "pause canceled",
        });
      });
  } catch (error) {
    ElMessage({
      type: "success",
      message: "暂停失败，请重新操作",
    });
  }
};
const run = (ids: number[]) => {
  console.log(ids);
  try {
    ElMessageBox.confirm("你确定要立即执行该参数?", "Warning", {
      confirmButtonText: "OK",
      cancelButtonText: "Cancel",
      type: "warning",
    })
      .then(async () => {
        try {
          await setScheduleRun(ids as number[]);
          await getScheduleList();
          ElMessage({
            type: "success",
            message: "立即执行成功",
          });
        } catch (error) {
          console.log(error);
          ElMessage({
            type: "error",
            message: "立即执行失败，请重新操作",
          });
        }
      })
      .catch(() => {
        ElMessage({
          type: "info",
          message: "run canceled",
        });
      });
  } catch (error) {
    ElMessage({
      type: "success",
      message: "立即执行失败，请重新操作",
    });
  }
};
const resume = (ids: number[]) => {
  console.log(ids);
  try {
    ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
      confirmButtonText: "OK",
      cancelButtonText: "Cancel",
      type: "warning",
    })
      .then(async () => {
        try {
          await setScheduleResume(ids as number[]);
          await getScheduleList();
          ElMessage({
            type: "success",
            message: "恢复成功",
          });
        } catch (error) {
          console.log(error);
          ElMessage({
            type: "error",
            message: "恢复失败，请重新操作",
          });
        }
      })
      .catch(() => {
        ElMessage({
          type: "info",
          message: "resume canceled",
        });
      });
  } catch (error) {
    ElMessage({
      type: "success",
      message: "恢复失败，请重新操作",
    });
  }
};
const dialogVisible1 = ref(false);
const searchLog = ref<number>();
let ScheduleLog = ref<ScheduleLogType[]>([]);
const open = () => {
  dialogVisible1.value = true;
  getScheduleLogList();
};
const getScheduleLogList = async () => {
  let { data } = (await getScheduleLog({
    jobId: searchLog.value as number,
  })) as { data: ScheduleLogType[] };
  ScheduleLog.value = data;
};
const column1 = [
  {
    label: "ID",
    props: "jobId",
  },
  {
    label: "bean名称",
    props: "beanName",
  },
  {
    label: "方法名称",
    props: "methodName",
  },
  {
    label: "参数",
    props: "params",
  },
  {
    label: "cron表达式",
    props: "cronExpression",
  },
  {
    label: "备注",
    props: "remark",
  },
  {
    label: "状态",
    props: "status",
    render(scoped: { row: ScheduleType }) {
      return scoped.row.status === 1
        ? "<span class='danger'>暂停</span>"
        : "<span class='normal'>正常</span>";
    },
  },
];
const column = [
  {
    label: "ID",
    props: "jobId",
  },
  {
    label: "bean名称",
    props: "beanName",
  },
  {
    label: "方法名称",
    props: "methodName",
  },
  {
    label: "参数",
    props: "params",
  },
  {
    label: "cron表达式",
    props: "cronExpression",
  },
  {
    label: "备注",
    props: "remark",
  },
  {
    label: "状态",
    props: "status",
    render(scoped: { row: ScheduleType }) {
      return scoped.row.status === 1
        ? "<span class='danger'>暂停</span>"
        : "<span class='normal'>正常</span>";
    },
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    actions: [
      {
        name: "修改",
        event: async (editItem: ScheduleType) => {
          type.value = "编辑";
          let { data } = (await getScheduleInfo(editItem.jobId)) as {
            data: ScheduleType;
          };
          edit(data);
        },
      },
      {
        name: "删除",
        event: async (editItem: ScheduleType) => {
          del([editItem.jobId]);
        },
      },
      {
        name: "暂停",
        event: async (editItem: ScheduleType) => {
          pause([editItem.jobId]);
        },
      },
      {
        name: "恢复",
        event: async (editItem: ScheduleType) => {
          resume([editItem.jobId]);
        },
      },
      {
        name: "立即执行",
        event: async (editItem: ScheduleType) => {
          run([editItem.jobId]);
        },
      },
    ],
  },
];
let ScheduleList = ref<ScheduleType[]>([]);
let total = ref<number>(0);
const getScheduleList = async () => {
  let { data } = (await getSchedule({
    ...params,
    ...formInline,
  })) as {
    data: ScheduleResType;
  };
  ScheduleList.value = data.records;
  total.value = data.total;
};
const toggleSelection = (
  multipleTableRef: InstanceType<typeof ElTable>,
  rows?: AddressType[]
) => {
  if (multipleTableRef) {
    if (rows) {
      rows.forEach((row) => {
        // TODO: improvement typing when refactor table
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        // @ts-expect-error
        multipleTableRef.toggleRowSelection(row, undefined);
      });
    } else {
      multipleTableRef.clearSelection();
    }
  }
};
onMounted(() => {
  getScheduleList();
});
</script>
<style scoped lang="scss"></style>
