//地址管理
<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <div>
        <el-input
          v-model="search"
          @input="(e) => getDefault(addressList, e)"
        ></el-input>
        <el-button @click="add">新增</el-button>
      </div>
      <el-tree
        ref="tree"
        :data="addressList"
        node-key="areaId"
        :props="props"
        :default-expanded-keys="defaultOpen"
        :expand-on-click-node="false"
      >
        <template #default="{ node }">
          <div class="tree_item">
            <span>{{ node.label }}</span>
            <span class="button">
              <el-button
                type="primary"
                icon="el-icon-edit"
                size="small"
                text
                @click="edit(node.data.areaId)"
              >
                修改
              </el-button>
              <el-button
                type="primary"
                icon="el-icon-delete"
                size="small"
                link
                @click="del(node.data.areaId)"
              >
                删除
              </el-button>
            </span>
          </div>
        </template>
      </el-tree>
    </div>
    <el-dialog v-model="dialogVisible" :title="type" width="30%">
      <el-form ref="ruleFormRef" :model="editData" label-width="120px">
        <el-form-item label="地区名称" prop="areaName">
          <el-input v-model="editData.areaName" placeholder="地区名称" />
        </el-form-item>
        <el-form-item label="上级地区" prop="areaName">
          <el-cascader
            v-model="value"
            :options="addressList"
            :props="prop"
            @change="handleChange"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="handleClose">取消</el-button>
          <el-button type="primary" @click="sure">确定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import { ref, nextTick, provide, reactive, onMounted } from "vue";
import { treeDataTranslate } from "@/utils";
import {
  getAddress,
  editAddress,
  getAddressInfo,
  saveAddress,
  delAddress,
} from "@/server/system/sys_address";
import { RenderAddress } from "@/types/address";
import { AddressType } from "./types";
import {
  ElMessageBox,
  ElMessage,
  ElButton,
  ElTree,
  ElDialog,
  ElForm,
  ElFormItem,
  ElInput,
  ElCascader,
} from "element-plus";
import tree from "element-plus/es/components/tree";
// 面包屑
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);

const props = reactive({
  id: "areaId",
  label: "areaName",
  children: "children",
});
// 地址数据
let addressList = ref<RenderAddress[]>([]);
const getAddressList = async () => {
  let { data } = (await getAddress({})) as { data: RenderAddress[] };
  let treeData = treeDataTranslate(data);
  addressList.value = treeData;
};
// 弹框
const type = ref("新增");
let dialogVisible = ref(false);
const handleOpen = () => {
  dialogVisible.value = true;
};
const handleClose = () => {
  dialogVisible.value = false;
};
// 编辑
const prop = reactive({
  checkStrictly: true,
  id: "areaId",
  label: "areaName",
  value: "areaId",
  children: "children",
});
const value = ref([]);

let editData = ref<AddressType>({
  areaName: "",
  areas: [],
  level: 1,
  parentId: null,
  areaId: 0,
});
const handleChange = (value: number[]) => {
  editData.value.parentId = value[value.length - 1];
};
const add = () => {
  type.value = "新增";
  editData.value = {
    areaName: "",
    areas: [],
    level: 1,
    parentId: null,
    areaId: 0,
  };
  handleOpen();
};
const edit = async (id: number) => {
  type.value = "编辑";
  handleOpen();
  let { data } = (await getAddressInfo(id)) as { data: AddressType };
  editData.value = data;
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveAddress({
        ...editData.value,
      });
    } catch (error) {
      console.log(error);
    }
  } else {
    try {
      await editAddress({
        ...editData.value,
      });
    } catch (error) {
      console.log(error);
    }
  }
  await getAddressList();
  handleClose();
};
const search = ref("");
let defaultOpen = ref<number[]>([]);
const getDefault = (addressList: RenderAddress[], value: string) => {
  addressList.forEach((item: RenderAddress) => {
    if (value !== "" && item.areaName.includes(value)) {
      defaultOpen.value.push(item.areaId as number);
      item.children && getDefault(item.children, value);
    }
  });
  console.log(defaultOpen.value);
};
const del = (id: number) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delAddress(id as number);
        await getAddressList();
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
onMounted(() => {
  getAddressList();
});
</script>

<style scoped lang="scss">
.el-tree-node__label {
  width: 100%;
  position: relative;

  .tree_item {
    display: flex;
    align-items: center;

    .button {
      position: absolute;
      right: 0;
    }
  }
}
</style>
