//规格管理

<template>
  <Container
    :showColumn="showColumn"
    :column="column"
    :current="params.current"
    :size="params.size"
    :tableData="SpecsList"
    :total="total"
    :leftValue="leftValue"
    @refresh="getSpecsList"
    @handleSizeChange="handleSizeChange"
    @handleCurrentChange="handleCurrentChange"
    @handleChange="handleChange"
    @changeShowColumn="() => (showColumn = true)"
    @close="() => (showColumn = false)"
    @changeShow="() => (show = !show)"
  >
    <template #search>
      <Search
        :show="show"
        :formInline="formInline"
        @onSubmit="onSubmit"
        @resetFields="resetFields"
      ></Search>
    </template>
    <template #button>
      <el-button type="primary" @click.stop="add">新增</el-button>
    </template>
    <template #editOrAdd>
      <el-dialog v-model="dialogVisible" :title="type" width="50%">
        <EditOrAddVue
          :editData="(editData as SpecsType)"
          :type="type"
          @addPropValue="addPropValue"
        ></EditOrAddVue>
        <template #footer>
          <el-button @click="handleClose">取消</el-button>
          <el-button @click="sure">确定</el-button>
        </template>
      </el-dialog>
    </template>
  </Container>
</template>

<script setup lang="ts">
import Container from "@/components/container/index.vue";
import Search from "./components/search.vue";
import EditOrAddVue from "./components/editOrAdd.vue";
import {
  getSpecs,
  delSpecs,
  saveSpecs,
  editSpecs,
} from "@/server/produce/pro_specs";
import { SpecsType, SpecsResType } from "./types/index";
import { ref, onMounted, reactive } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);

const leftValue = ref([1, 2]);

const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const params = reactive({
  current: 1,
  size: 10,
});
let SpecsList = ref<SpecsType[]>([]);
let total = ref<number>(0);
const getSpecsList = async (params: any) => {
  let { data } = (await getSpecs({
    ...params,
  })) as {
    data: SpecsResType;
  };
  SpecsList.value = data.records;
  total.value = data.total;
  let len = Math.floor(data.total / params.size);
  params.current = len > params.current ? params.current : len;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getSpecsList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getSpecsList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  propName: "",
});
const onSubmit = () => {
  params.current = 1;
  getSpecsList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  console.log(formEl);
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
const handleOpen = () => {
  dialogVisible.value = true;
};
let type = ref("新增");
let editData = ref<SpecsType>({
  propName: "",
  prodPropValues: [],
});
const addPropValue = () => {
  editData.value?.prodPropValues.push({
    propValue: "",
  });
};
// 新增
const add = () => {
  handleOpen();
  editData.value = {
    propName: "",
    prodPropValues: [],
  };
  type.value = "新增";
};
// 编辑
const edit = (edit: SpecsType) => {
  console.log(edit);
  handleOpen();
  editData.value = edit;
  type.value = "编辑";
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveSpecs({ ...(editData.value as SpecsType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editSpecs({ ...(editData.value as SpecsType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getSpecsList({
    ...params,
  });
  handleClose();
};

// 删除
const del = async (id: number) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delSpecs(id as number);
        await getSpecsList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "属性名称",
    props: "propName",
    width: 200,
    key: 1,
  },
  {
    label: "属性值",
    props: "prodPropValues",
    render({ row }: { row: SpecsType }) {
      return row.prodPropValues
        .map(
          (item) =>
            `<span class="normal" style="margin:0 5px">${item.propValue}</span>`
        )
        .join("");
    },
    key: 2,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: (data: SpecsType) => {
          edit(data);
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: SpecsType) => {
          data.propId && del(data.propId);
        },
      },
    ],
  },
];
onMounted(() => {
  getSpecsList({
    ...params,
  });
});
</script>
