//参数管理

<template>
  <Container
    :showColumn="showColumn"
    :column="column"
    :current="params.current"
    :size="params.size"
    :tableData="configList"
    :total="total"
    :leftValue="leftValue"
    @refresh="getConfigList"
    @handleSelectionChange="handleSelectionChange"
    @handleSizeChange="handleSizeChange"
    @handleCurrentChange="handleCurrentChange"
    @handleChange="handleChange"
    @changeShowColumn="() => (showColumn = true)"
    @close="() => (showColumn = false)"
    @changeShow="() => (show = !show)"
  >
    <template #search>
      <Search
        :show="show"
        :formInline="formInline"
        @onSubmit="onSubmit"
        @resetFields="resetFields"
      ></Search>
    </template>
    <template #button>
      <el-button type="primary" @click.stop="add">新增</el-button>
      <el-button
        type="danger"
        :disabled="selectList?.length != 0 ? false : true"
        @click.stop="del(configIds as number[])"
        >批量删除</el-button
      >
    </template>
    <template #editOrAdd>
      <el-dialog v-model="dialogVisible" :title="type" width="60%">
        <EditOrAddVue
          :editData="(editData as configType)"
          :type="type"
          @handleClose="handleClose"
          @sure="sure"
        ></EditOrAddVue>
      </el-dialog>
    </template>
  </Container>
</template>

<script setup lang="ts">
import {
  getConfig,
  delConfig,
  getConfigInfo,
} from "@/server/system/sys_config";
import Container from "@/components/container/index.vue";
import Search from "./components/search.vue";
import EditOrAddVue from "./components/editOrAdd.vue";
import { configType, configResType, configReqType } from "./types/index";
import { ref, onMounted, reactive } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);

const leftValue = ref([1, 2, 3]);

const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const params = reactive({
  current: 1,
  size: 10,
});
let configList = ref<configType[]>([]);
let total = ref<number>(0);
const getConfigList = async (params: configReqType) => {
  let { data } = (await getConfig({
    ...params,
  })) as {
    data: configResType;
  };
  configList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getConfigList({ ...params });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getConfigList({ ...params });
};
// 搜索
const formInline = reactive({
  paramKey: "",
});
const onSubmit = () => {
  params.current = 1;
  getConfigList({ ...params });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
let type = ref("新增");
let editData = ref<configType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  editData.value = {
    paramKey: "",
    paramValue: "",
    remark: "",
  };
};
// 编辑
const edit = (edit: configType) => {
  dialogVisible.value = true;
  editData.value = edit;
};
const sure = async () => {
  await getConfigList({ ...params });
  dialogVisible.value = false;
};

// 删除
const configIds = ref<number[]>();
// 选择
let selectList = ref<configType[]>();
const handleSelectionChange = (selection: configType[]) => {
  selectList.value = selection;
  configIds.value = selectList.value.map((item) => item.id as number);
};
const del = async (ids: number[]) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delConfig(ids);
        await getConfigList({ ...params });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "参数名",
    props: "paramKey",
    key: 1,
  },
  {
    label: "参数值",
    props: "paramValue",
    key: 2,
  },
  {
    label: "备注",
    props: "remark",
    key: 3,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (editItem: configType) => {
          type.value = "编辑";
          let { data } = (await getConfigInfo(editItem.id as number)) as {
            data: configType;
          };
          edit(data);
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: configType) => {
          let num = data.id as number;
          del([num]);
        },
      },
    ],
  },
];
onMounted(() => {
  getConfigList({ ...params });
});
</script>
