<!-- eslint-disable vue/v-on-event-hyphenation -->
//会员管理
<template>
  <Container
    :showColumn="showColumn"
    :column="column"
    :current="table.current"
    :size="table.size"
    :tableData="memberList"
    :total="total"
    :leftValue="leftValue"
    :renderFunc="renderFunc"
    @refresh="getMemberList"
    @handleSelectionChange="handleSelectionChange"
    @handleSizeChange="handleSizeChange"
    @handleCurrentChange="handleCurrentChange"
    @handleChange="handleChange"
    @changeShowColumn="() => (showColumn = true)"
    @close="() => (showColumn = false)"
    @changeShow="() => (show = !show)"
  >
    <template #search>
      <Search
        :show="show"
        :formInline="formInline"
        @onSubmit="onSubmit"
        @resetFields="resetFields"
      ></Search>
    </template>

    <template #editOrAdd>
      <el-dialog v-model="dialogVisible" title="修改" width="50%">
        <EditOrAdd
          :editData="(editData as editMemberType)"
          @handleClose="handleClose"
          @sure="sure"
        ></EditOrAdd>
      </el-dialog>
    </template>
  </Container>
</template>

<script setup lang="ts">
import { ColumnType } from "@/types/index";
import { ref, onMounted, reactive, VNode, VNodeProps } from "vue";
import { getMember, getMemberInfo } from "@/server/member";
import { memberType, editMemberType, memberResType } from "./types/index";
import Container from "@/components/container/index.vue";
import Search from "./components/search.vue";
import EditOrAdd from "./components/editOrAdd.vue";
import { FormInstance, TransferKey } from "element-plus";
const table = reactive({
  current: 1,
  size: 10,
});
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
let showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}
const leftValue = ref<TransferKey[]>([1, 2, 3, 4]);
const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: TransferKey[]) => {
  console.log(value);
  leftValue.value = value;
};
let total = ref(0);
let memberList = ref<memberType[]>([]);
const getMemberList = async (table: any) => {
  let data = (await getMember({
    ...table,
  })) as { data: memberResType };
  // memberList.concat([...data.data.records]);
  memberList.value = [...data.data.records];
  total.value = data.data.total;
};
const handleSelectionChange = () => {
  console.log(111);
};
const formInline = reactive({
  nickName: "",
  options: ref([
    {
      value: 0,
      label: "禁用",
    },
    {
      value: 1,
      label: "正常",
    },
  ]),
  status: undefined,
});
const onSubmit = () => {
  table.current = 1;
  getMemberList({
    ...table,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
  console.log(formEl);
};
// 分页
const handleSizeChange = (size: number) => {
  table.size = size;
  getMemberList({
    ...table,
  });
};
const handleCurrentChange = (current: number) => {
  table.current = current;
  getMemberList({
    ...table,
  });
};
// 编辑
let editData = ref<editMemberType>();
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
const handleOpen = () => {
  dialogVisible.value = true;
};
const edit = (data: editMemberType) => {
  editData.value = data;
  console.log(editData);
};
const sure = async () => {
  await getMemberList({
    ...table,
  });
  handleClose();
};
const column: ColumnType[] = [
  {
    label: "用户昵称",
    props: "nickName",
    key: 1,
  },
  {
    label: "用户头像",
    props: "pic",
    render(scope) {
      return `<img src=${scope.row.pic} alt="用户头像" />`;
    },
    key: 2,
  },
  {
    label: "状态",
    props: "status",
    render(scope) {
      return scope.row.status === 1
        ? "<span class='normal'>正常</span>"
        : "<span class='danger'>禁用</span>";
    },
    key: 3,
  },
  {
    label: "注册时间",
    props: "modifyTime",
    key: 4,
  },
  {
    label: "操作",
    props: "action",
    actions: [
      {
        icon: "Edit",
        type: "primary",
        name: "编辑",
        async event(editItem: memberType) {
          handleOpen();
          let { data } = (await getMemberInfo(editItem.userId as string)) as {
            data: memberType;
          };
          edit(data);
        },
      },
    ],
  },
];

onMounted(() => {
  getMemberList({
    ...table,
  });
});
</script>
