//产品管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <el-form
        v-if="show"
        ref="searchForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="热搜标题" prop="title">
          <el-input v-model="formInline.title" placeholder="搜索热搜标题" />
        </el-form-item>
        <el-form-item label="状态" prop="status">
          <el-select
            v-model="formInline.status"
            class="m-2"
            placeholder="Select"
            size="large"
          >
            <el-option :value="0" label="撤销" />
            <el-option :value="1" label="公布" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <div class="action">
        <div>
          <el-button type="primary" @click.stop="add">新增</el-button>
          <el-button
            type="danger"
            :disabled="selectList?.length != 0 ? false : true"
            @click.stop="del(ProdIds as number[])"
            >批量删除</el-button
          >
        </div>
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top-start"
          >
            <el-icon @click="getProdList({ ...params })">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top-start"
          >
            <el-icon @click="showColumn = !showColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top-start"
          >
            <el-icon @click="show = !show">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table
        :column="getColumn"
        :tableData="ProdList"
        @handleSelectionChange="handleSelectionChange"
      />
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <!-- <el-dialog v-model="dialogVisible" :title="type" width="50%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="产品名称" :prop="editData.prodName">
            <el-input v-model="editData.prodName" placeholder="产品名称" />
          </el-form-item>
          <el-form-item label="状态" :prop="editData.status">
            <el-radio-group v-model="editData.status" class="ml-4">
              <el-radio :label="1" size="large">启用</el-radio>
              <el-radio :label="0" size="large">未启用</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog> -->
    </div>

    <el-dialog v-model="showColumn" title="多选" width="50%">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item: ColumnType) => item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getProd,
  editProd,
  saveProd,
  delProd,
  getProdInfo,
} from "@/server/produce/pro_pro";
import { ProdType, ProdResType, ProdReq } from "./types/index";
import { ColumnType } from "@/types";
import { ref, nextTick, provide, onMounted, reactive, computed } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
import type { VNode, VNodeProps } from "vue";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3, 4, 5]);

const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const searchForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
let ProdList = ref<ProdType[]>([]);
let total = ref<number>(0);
const getProdList = async (params: ProdReq) => {
  let { data } = (await getProd({
    ...params,
  })) as {
    data: ProdResType;
  };
  ProdList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getProdList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getProdList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  title: "",
  status: undefined,
  content: undefined,
});
const onSubmit = () => {
  params.current = 1;
  getProdList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
let type = ref("新增");
let editData = ref<ProdType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  type.value = "新增";
  editData.value = {
    prodName: "",
    status: 0,
    content: "",
  };
};
/* // 编辑
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveProd({ ...(editData.value as ProdType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editProd({ ...(editData.value as ProdType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getProdList({
    ...params,
  });
  dialogVisible.value = false;
}; */

// 删除
const ProdIds = ref<number[]>();
// 选择
let selectList = ref<ProdType[]>();
const handleSelectionChange = (selection: ProdType[]) => {
  console.log(selection);
  selectList.value = selection;
  ProdIds.value = selectList.value.map((item) => item.prodId as number);
};
const del = async (ids: number[]) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delProd(ids as number[]);
        await getProdList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "产品名称",
    props: "prodName",
    key: 1,
  },
  {
    label: "商品原价",
    props: "oriPrice",
    key: 2,
  },
  {
    label: "商品现价",
    props: "price",
    key: 3,
  },
  {
    label: "商品库存",
    props: "totalStocks",
    key: 4,
  },
  {
    label: "产品图片",
    props: "pic",
    width: 200,
    render(scope: { row: any }) {
      return `<img src=${scope.row.pic} width="150" height="100"  />`;
    },
    key: 5,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (id: ProdType) => {
          /* let { data } = (await getProdInfo(id.ProdSearchId as number)) as {
            data: ProdType;
          };
          type.value = "编辑";
          editData.value = { ...data };
          dialogVisible.value = true; */
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: ProdType) => {
          del([data.prodId] as number[]);
        },
      },
    ],
  },
];
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
      if (!a.key) {
        arr.push(a);
      }
    });
  });
  return [...new Set(arr)];
});
onMounted(() => {
  getProdList({
    ...params,
  });
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .iconList {
    font-size: 20px;

    i {
      margin: 0 10px;
    }
  }
}
</style>
