//角色管理
<template>
  <Container
    :showColumn="showColumn"
    :column="column"
    :current="table.current"
    :size="table.size"
    :tableData="roleList"
    :total="total"
    :leftValue="leftValue"
    :renderFunc="renderFunc"
    @refresh="getRoleList"
    @handleSelectionChange="handleSelectionChange"
    @handleSizeChange="handleSizeChange"
    @handleCurrentChange="handleCurrentChange"
    @handleChange="handleChange"
    @changeShowColumn="() => (showColumn = true)"
    @close="() => (showColumn = false)"
    @changeShow="() => (show = !show)"
  >
    <template #search>
      <Search
        :show="show"
        :formInline="formInline"
        @onSubmit="onSubmit"
        @resetFields="resetFields"
      ></Search>
    </template>
    <template #button>
      <el-button type="primary" @click.stop="add">新增</el-button>
      <el-button
        type="danger"
        :disabled="selectList?.length != 0 ? false : true"
        @click.stop="del(RoleIds as number[])"
        >批量删除</el-button
      >
    </template>
    <template #editOrAdd>
      <el-dialog v-model="dialogVisible" :title="type" width="60%">
        <EditOrAddVue
          :editData="(editData as editRoleType)"
          :type="type"
          :menuData="menuData"
          @handleClose="handleClose"
          @sure="sure"
          @handleCheckChange="handleCheckChange"
        ></EditOrAddVue>
      </el-dialog>
    </template>
  </Container>
</template>

<script setup lang="ts">
import Container from "@/components/container/index.vue";
import EditOrAddVue from "./components/editOrAdd.vue";
import {
  ref,
  nextTick,
  provide,
  onMounted,
  reactive,
  VNodeProps,
  VNode,
} from "vue"; // vue方法
import { roleType, roleResType, editRoleType } from "./types/index"; // 类型
import { MenuType } from "@/views/modules/system/menu/types/index";
import { getRole, delRole, getRoleInfo } from "@/server/system/sys_role"; // api
import { getMenu } from "@/server/system/sys_menu"; // api
import { ElMessage, ElMessageBox, FormInstance } from "element-plus"; // element-plus组件
import Search from "./components/search.vue";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3]);
const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
let table = reactive({
  current: 1,
  size: 10,
});

// 获取列表
let total = ref(0);
const roleList = ref<roleType[]>([]);
const getRoleList = async (params: any) => {
  try {
    let { data } = (await getRole({
      ...params,
    })) as { data: roleResType };
    roleList.value = data.records;
    total.value = data.total;
  } catch (error) {
    console.log(error);
  }
};
// 搜索
let formInline = reactive({
  roleName: "",
});
const onSubmit = () => {
  table.current = 1;
  getRoleList({
    ...table,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 分页
const handleCurrentChange = (page: number) => {
  table.current = page;
  getRoleList({
    ...table,
  });
};
const handleSizeChange = (size: number) => {
  table.size = size;
  getRoleList({
    ...table,
  });
};

const type = ref("新增");

// 弹框
let editData = reactive<editRoleType>({
  roleId: 0,
  roleName: "",
  remark: "",
  menuIdList: [],
});
let dialogVisible = ref(false);

const menuData = ref<MenuType[]>([]);
const getMenuList = async () => {
  let { data } = (await getMenu()) as { data: MenuType[] };
  let menu = [...data].filter((value) => {
    return !value.parentId;
  });
  menu.forEach((item) => {
    item.children = [];
    data.forEach((v) => {
      if (v.parentId === item.menuId) {
        item.children && item.children.push(v);
      }
      item.children?.forEach((a) => {
        if (item.menuId === v.menuId) {
          a.children && a.children.push(v);
        }
      });
    });
  });
  menuData.value = menu;
};
const handleCheckChange = (_: any, checkedKeys: { checkedKeys: number[] }) => {
  console.log(checkedKeys);
  editData.menuIdList = checkedKeys.checkedKeys;
};
const handleClose = () => {
  dialogVisible.value = false;
};
const handleOpen = async () => {
  await getMenuList();
  dialogVisible.value = true;
};
// 新增
const add = () => {
  editData.roleId = 0;
  editData.roleName = "";
  editData.remark = "";
  editData.menuIdList = [];
  type.value = "新增";
  handleOpen();
};
// 编辑
const edit = (data: editRoleType) => {
  editData.roleId = data.roleId;
  editData.roleName = data.roleName;
  editData.remark = data.remark;
  editData.menuIdList = data.menuIdList;
  type.value = "编辑";
};
const sure = async () => {
  getRoleList({
    ...table,
  });
  handleClose();
};
// 删除
const RoleIds = ref<number[]>();
// 选择
let selectList = ref<roleType[]>();
const handleSelectionChange = (selection: roleType[]) => {
  selectList.value = selection;
  RoleIds.value = selectList.value.map((item) => item.roleId as number);
};
const del = async (ids: number[]) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delRole(ids);
        await getRoleList({
          ...table,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};

const column = [
  {
    label: "角色名称",
    props: "roleName",
    key: 1,
  },
  {
    label: "备注",
    props: "remark",
    key: 2,
  },
  {
    label: "创建时间",
    props: "createTime",
    key: 3,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (editItem: roleType) => {
          type.value = "编辑";
          handleOpen();
          let { data } = (await getRoleInfo(editItem.roleId)) as {
            data: roleType;
          };
          edit(data);
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: roleType) => {
          let num = data.roleId as number;
          RoleIds.value = [num];
          del(RoleIds.value);
        },
      },
    ],
  },
];
onMounted(() => {
  getRoleList({
    ...table,
  });
});
</script>
