<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <div><slot name="search"></slot></div>
      <div class="action">
        <div><slot name="button"></slot></div>
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top"
          >
            <el-icon @click="refresh">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top"
          >
            <el-icon @click="changeShowColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top"
          >
            <el-icon @click="changeShow">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table
        :column="getColumn"
        :tableData="tableData"
        @handleSelectionChange="handleSelectionChange"
      ></Table>
      <Pagination
        :currentPage="current"
        :pageSize="size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <slot name="editOrAdd"></slot>
    </div>
    <el-dialog v-model="showColumn" title="多选" width="50%" @close="close">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item:ColumnType)=>item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ColumnType } from "@/types";
import { Refresh, Menu, Search } from "@element-plus/icons-vue";
import { TransferKey } from "element-plus";
import Table from "../table/index.vue";
import AHead from "../ahead/index.vue";
import Pagination from "../pagination/index.vue";
import {
  toRefs,
  ref,
  nextTick,
  provide,
  VNodeProps,
  VNode,
  computed,
} from "vue";
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}
const props = defineProps<{
  showColumn: boolean;
  column: ColumnType[];
  current: number;
  size: number;
  tableData: any[];
  total: number;
  leftValue: TransferKey[];
}>();

const { showColumn, column, tableData, current, size, total, leftValue } =
  toRefs(props);

const emit = defineEmits([
  "refresh",
  "handleSelectionChange",
  "handleSizeChange",
  "handleCurrentChange",
  "handleChange",
  "changeShowColumn",
  "changeShow",
  "close",
]);
const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);

const refresh = () => {
  emit("refresh");
};
const handleSelectionChange = (selection: any[]) => {
  emit("handleSelectionChange", selection);
};
const handleSizeChange = (size: number) => {
  emit("handleSizeChange", size);
};
const handleCurrentChange = (current: number) => {
  emit("handleCurrentChange", current);
};
const handleChange = (value: TransferKey[]) => {
  emit("handleChange", value);
  console.log(value);
};
const changeShowColumn = () => {
  emit("changeShowColumn");
};
const close = () => {
  emit("close");
};
const changeShow = () => {
  emit("changeShow");
};
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.value.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
    });
  });
  arr.push(column.value[column.value.length - 1]);
  return [...new Set(arr)];
});
</script>

<style scoped lang="scss">
.action_no {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .iconList {
    font-size: 20px;
    i {
      margin: 0 10px;
    }
  }
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .iconList {
    font-size: 20px;
    i {
      margin: 0 10px;
    }
  }
}
</style>
