//自提点管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <el-form
        v-if="show"
        ref="searchForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="自提点名称" prop="addrName">
          <el-input v-model="formInline.addrName" placeholder="搜索模板名称" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <div class="action">
        <div>
          <el-button type="primary" @click.stop="add">新增</el-button>
          <el-button
            type="danger"
            :disabled="PickUpIds?.length === 0 ? true : false"
            @click.stop="del(PickUpIds as number[])"
            >批量删除</el-button
          >
        </div>
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top-start"
          >
            <el-icon @click="getPickUpList({ ...params })">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top-start"
          >
            <el-icon @click="showColumn = !showColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top-start"
          >
            <el-icon @click="show = !show">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table
        :column="getColumn"
        :tableData="PickUpList"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
        @handleSelectionChange="handleSelectionChange"
      />
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <el-dialog v-model="dialogVisible" :title="type" width="50%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="名称" prop="addrName">
            <el-input v-model="editData.addrName" placeholder="名称" />
          </el-form-item>
          <el-form-item label="省份">
            <el-select
              v-model="editData.provinceId"
              placeholder="Please select"
              size="large"
              @change="selectProvince"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.areaId"
                :label="item.areaName"
                :value="item.areaId"
              />
            </el-select>
            <el-select
              v-model="editData.cityId"
              placeholder="Please select"
              size="large"
              @change="selectCity"
            >
              <el-option
                v-for="item in cityList"
                :key="item.areaId"
                :label="item.areaName"
                :value="item.areaId"
              />
            </el-select>
            <el-select
              v-model="editData.areaId"
              placeholder="Please select"
              size="large"
              @change="selectArea"
            >
              <el-option
                v-for="item in areaList"
                :key="item.areaId"
                :label="item.areaName"
                :value="item.areaId"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="地址" prop="addr">
            <el-input v-model="editData.addr" placeholder="地址" />
          </el-form-item>
          <el-form-item label="手机号" prop="mobile">
            <el-input v-model="editData.mobile" placeholder="手机号" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>

    <el-dialog v-model="showColumn" title="多选" width="50%">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item: ColumnType) => item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getPickUp,
  editPickUp,
  savePickUp,
  delPickUp,
  getPickUpItem,
  getAddress,
} from "@/server/shop/pickUpPoints";
import { PickUpResType, PickUpReq, PickUpType } from "./types/index";
import { ColumnType } from "@/types";
import { ref, nextTick, provide, onMounted, reactive, computed } from "vue";
import {
  ElButton,
  ElDialog,
  ElForm,
  ElFormItem,
  ElIcon,
  ElInput,
  ElMessage,
  ElMessageBox,
  ElTooltip,
  ElTransfer,
  FormInstance,
} from "element-plus";
import type { VNode, VNodeProps } from "vue";
import { Refresh, Menu, Search } from "@element-plus/icons-vue";
import { AddressType } from "@/types/address";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3, 4, 5, 6]);

const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const searchForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
let PickUpList = ref<PickUpType[]>([]);
let total = ref<number>(0);
const getPickUpList = async (params: PickUpReq) => {
  let { data } = (await getPickUp({
    ...params,
  })) as {
    data: PickUpResType;
  };
  PickUpList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getPickUpList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getPickUpList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  addrName: "",
});
const onSubmit = () => {
  params.current = 1;
  getPickUpList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
const handleOpen = () => {
  dialogVisible.value = true;
  getAddressList();
};
let type = ref("新增");
let editData = ref<PickUpType>({
  addrName: "",
  province: "",
  provinceId: undefined,
  area: "",
  areaId: undefined,
  city: "",
  cityId: undefined,
  addr: "",
  mobile: "",
});
// 新增
const add = () => {
  handleOpen();
  type.value = "新增";
  editData.value = {
    addrName: "",
    province: "",
    provinceId: undefined,
    area: "",
    areaId: undefined,
    city: "",
    cityId: undefined,
    addr: "",
    mobile: "",
  };
};
// 编辑
const sure = async () => {
  if (type.value === "新增") {
    try {
      await savePickUp({ ...(editData.value as PickUpType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editPickUp({ ...(editData.value as PickUpType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getPickUpList({
    ...params,
  });
  dialogVisible.value = false;
};
let provinceList = ref<AddressType[]>([]);
let areaList = ref<AddressType[]>([]);
let cityList = ref<AddressType[]>([]);
const getAddressList = async () => {
  console.log(editData.value, "22222222222222222222222222222");
  let { data: province } = (await getAddress(0)) as { data: any };
  provinceList.value = province;
  let { data: city } = (await getAddress(
    editData.value.provinceId || province[0].areaId
  )) as {
    data: any;
  };
  cityList.value = city;
  let { data: area } = (await getAddress(
    editData.value.cityId || city[0].areaId
  )) as {
    data: any;
  };
  areaList.value = area;
};
const selectProvince = async (val: number) => {
  editData.value = {
    ...editData.value,
    provinceId: val,
    province: provinceList.value.filter((item) => item.areaId === val)[0]
      .areaName,
  };
  await getAddressList();
  editData.value = {
    ...editData.value,
    city: cityList.value[0].areaName,
    cityId: cityList.value[0].areaId,
    area: areaList.value[0].areaName,
    areaId: areaList.value[0].areaId,
  };
};
const selectCity = async (val: number) => {
  console.log(val);
  editData.value = {
    ...editData.value,
    cityId: val,
    city: cityList.value.filter((item) => item.areaId === val)[0].areaName,
  };
  await getAddressList();
  editData.value = {
    ...editData.value,
    area: areaList.value[0].areaName,
    areaId: areaList.value[0].areaId,
  };
};
const selectArea = (val: number) => {
  console.log(val);
  editData.value = {
    ...editData.value,
    areaId: val,
    area: areaList.value.filter((item) => item.areaId === val)[0].areaName,
  };
  getAddressList();
};
// 删除
const PickUpIds = ref<number[]>();
// 选择
let selectList = ref<PickUpType[]>();
const handleSelectionChange = (selection: PickUpType[]) => {
  console.log(selection);
  selectList.value = selection;
  PickUpIds.value = selectList.value.map((item) => item.addrId as number);
};
const del = async (ids: number[]) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delPickUp(ids as number[]);
        await getPickUpList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
        PickUpIds.value = [];
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "自提点名称",
    props: "addrName",
    key: 1,
  },
  {
    label: "手机号",
    props: "mobile",
    key: 2,
  },
  {
    label: "省份",
    props: "province",
    key: 3,
  },
  {
    label: "城市",
    props: "city",
    key: 4,
  },
  {
    label: "区县",
    props: "area",
    key: 5,
  },
  {
    label: "地址",
    props: "addr",
    key: 6,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (id: PickUpType) => {
          let { data } = (await getPickUpItem(id.addrId as number)) as {
            data: PickUpType;
          };
          type.value = "编辑";
          editData.value = { ...data };
          handleOpen();
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: PickUpType) => {
          del([data.addrId] as number[]);
        },
      },
    ],
  },
];
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
      if (!a.key) {
        arr.push(a);
      }
    });
  });
  return [...new Set(arr)];
});
onMounted(() => {
  getPickUpList({
    ...params,
  });
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .iconList {
    font-size: 20px;

    i {
      margin: 0 10px;
    }
  }
}
</style>
