<template>
  <el-aside width="240px">
    <h2 class="mb-2">电商管理平台</h2>
    <el-menu
      :default-openeds="['/home/index']"
      router
      active-text-color="#ffd04b"
      text-color="#fff"
      background-color="#545c64"
    >
      <el-menu-item
        :index="JSON.stringify({ path: '/home/index', name: '首页' })"
        :route="{ path: '/home/index' }"
      >
        <el-icon>
          <HomeFilled />
        </el-icon>
        <span>首页</span>
      </el-menu-item>
      <el-sub-menu v-for="item in nav" :key="item.menuId" :index="item.name">
        <template #title>
          <el-icon>
            <component
              :is="item.icon.replace(item.icon[0], item.icon[0].toUpperCase())"
            />
          </el-icon>
          <span>{{ item.name }}</span>
        </template>
        <el-menu-item
          v-for="(v, i) in item.list"
          :key="i"
          :index="JSON.stringify({ path: '/' + v.url, name: v.name })"
          :route="{ path: '/' + v.url }"
          @click="linkToNav"
        >
          <template #title>
            <el-icon v-if="v.icon">
              <component
                :is="v.icon.replace(v.icon[0], v.icon[0].toUpperCase())"
              />
            </el-icon>
            <span>{{ v.name }}</span>
          </template>
        </el-menu-item>
      </el-sub-menu>
    </el-menu>
  </el-aside>
</template>

<script setup lang="ts">
import { useStore } from "@/store";
import storage from "@/utils/storage";
const store = useStore();
const linkToNav = (e: { index: string }) => {
  const obj = JSON.parse(e.index);
  const hasNav = store.nav.filter((item) => item.path === obj.path);
  if (hasNav.length === 0) {
    store.nav.push({
      ...obj,
    });
    store.active = obj.path;
  } else {
    store.active = hasNav[0].path;
  }
  storage.setCache("headNav", store.nav);
  storage.setCache("active", store.active);
};
let nav = storage.getCache("nav");
</script>
<style scoped>
.mb-2 {
  text-align: center;
  background: #09f;
  color: #fff;
  line-height: 60px;
}

i {
  height: 30px;
  width: 30px;
}
</style>

<!-- <el-sub-menu index="1">
        <template #title>
          <el-icon>
            <UserFilled />
          </el-icon>
          <span>产品管理</span>
        </template>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/grouping', name: '分组管理' })"
          :route="{ path: '/home/grouping' }"
          @click="linkToNav"
        >
          <span>分组管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/products', name: '产品管理' })"
          :route="{ path: '/home/products' }"
          @click="linkToNav"
        >
          <span>产品管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/category', name: '分类管理' })"
          :route="{ path: '/home/category' }"
          @click="linkToNav"
        >
          <span>分类管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/comment', name: '评论管理' })"
          :route="{ path: '/home/comment' }"
          @click="linkToNav"
        >
          <span>评论管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/specs', name: '规格管理' })"
          :route="{ path: '/home/specs' }"
          @click="linkToNav"
        >
          <span>规格管理</span>
        </el-menu-item>
      </el-sub-menu>
      <el-sub-menu index="2">
        <template #title>
          <el-icon>
            <Shop />
          </el-icon>
          <span>门店管理</span>
        </template>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/notice', name: '公告管理' })"
          :route="{ path: '/home/notice' }"
          @click="linkToNav"
        >
          <span>公告管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/hot', name: '热搜管理' })"
          :route="{ path: '/home/hot' }"
          @click="linkToNav"
        >
          <span>热搜管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/swiper', name: '轮播图管理}' })"
          :route="{ path: '/home/swiper' }"
          @click="linkToNav"
        >
          <span>轮播图管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/freight', name: '运费管理' })"
          :route="{ path: '/home/freight' }"
          @click="linkToNav"
        >
          <span>运费管理</span>
        </el-menu-item>
        <el-menu-item
          :index="
            JSON.stringify({ path: '/home/pickUpPoints', name: '自提点管理' })
          "
          :route="{ path: '/home/pickUpPoints' }"
          @click="linkToNav"
        >
          <span>自提点管理</span>
        </el-menu-item>
      </el-sub-menu>
      <el-sub-menu index="3">
        <template #title>
          <el-icon>
            <Avatar />
          </el-icon>
          <span>会员管理</span>
        </template>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/member', name: '会员管理' })"
          :route="{ path: '/home/member' }"
          @click="linkToNav"
        >
          <span>会员管理</span>
        </el-menu-item>
      </el-sub-menu>
      <el-sub-menu index="4">
        <template #title>
          <el-icon>
            <Tickets />
          </el-icon>
          <span>订单管理</span>
        </template>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/orders', name: '订单管理' })"
          :route="{ path: '/home/orders' }"
          @click="linkToNav"
        >
          <span>订单管理</span>
        </el-menu-item>
      </el-sub-menu>
      <el-sub-menu
        :index="JSON.stringify({ path: '/home/system', name: '系统管理' })"
      >
        <template #title>
          <el-icon>
            <Setting />
          </el-icon>
          <span>系统管理</span>
        </template>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/address', name: '地址管理' })"
          :route="{ path: '/home/address' }"
          @click="linkToNav"
        >
          <span>地址管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/admin', name: '管理员列表' })"
          :route="{ path: '/home/admin' }"
          @click="linkToNav"
        >
          <span>管理员列表</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/role', name: '角色管理' })"
          :route="{ path: '/home/role' }"
          @click="linkToNav"
        >
          <span>角色管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/menu', name: '菜单管理' })"
          :route="{ path: '/home/menu' }"
          @click="linkToNav"
        >
          <span>菜单管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/timing', name: '定时任务' })"
          :route="{ path: '/home/timing' }"
          @click="linkToNav"
        >
          <span>定时任务</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/argument', name: '参数管理' })"
          :route="{ path: '/home/argument' }"
          @click="linkToNav"
        >
          <span>参数管理</span>
        </el-menu-item>
        <el-menu-item
          :index="JSON.stringify({ path: '/home/system', name: '系统日志' })"
          :route="{ path: '/home/system' }"
          @click="linkToNav"
        >
          <span>系统日志</span>
        </el-menu-item>
      </el-sub-menu> -->
