//评论管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <el-form
        v-if="show"
        ref="searchForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="参数名" prop="paramKey">
          <el-input v-model="formInline.paramKey" placeholder="搜索参数名" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <div class="action">
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top"
          >
            <el-icon @click="getCommentList({ ...params })">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top"
          >
            <el-icon @click="showColumn = !showColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top"
          >
            <el-icon @click="show = !show">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table :column="getColumn" :tableData="CommentList" />
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <!-- <el-dialog v-model="dialogVisible" :title="type" width="30%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="参数名" :prop="editData.paramKey">
            <el-input v-model="editData.paramKey" placeholder="参数名" />
          </el-form-item>
          <el-form-item label="参数值" :prop="editData.paramValue">
            <el-input v-model="editData.paramValue" placeholder="参数值" />
          </el-form-item>
          <el-form-item label="备注" :prop="editData.remark">
            <el-input v-model="editData.remark" placeholder="备注" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog> -->
    </div>
    <el-dialog v-model="showColumn" title="多选" width="50%">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item: ColumnType) => item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getComment,
  editComment,
  saveComment,
  delComment,
} from "@/server/produce/pro_comment";
import { CommentType, CommentResType } from "./types/index";
import { ColumnType } from "@/types";
import { ref, nextTick, provide, onMounted, reactive, computed } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
import type { VNode, VNodeProps } from "vue";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3, 4, 5, 6, 7]);

const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const searchForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
let CommentList = ref<CommentType[]>([]);
let total = ref<number>(0);
const getCommentList = async (params: any) => {
  let { data } = (await getComment({
    ...params,
    paramKey: formInline.paramKey,
  })) as {
    data: CommentResType;
  };
  CommentList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getCommentList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getCommentList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  paramKey: "",
});
const onSubmit = () => {
  params.current = 1;
  getCommentList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
let type = ref("新增");
let editData = ref<CommentType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  /* editData.value = {
    content: "",
    evaluate: 0,
    isAnonymous: 0,
    orderItemId: 0,
    pics: "",
    prodCommId: 0,
    prodId: 0,
    prodName: "",
    replyContent: "",
    score: 0,
    status: 0,
  }; */
};
// 编辑
const edit = (edit: CommentType) => {
  dialogVisible.value = true;
  editData.value = edit;
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveComment({ ...(editData.value as CommentType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editComment({ ...(editData.value as CommentType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getCommentList({
    ...params,
  });
  dialogVisible.value = false;
};

// 删除
const CommentIds = ref<number[]>();
// 选择
let selectList = ref<CommentType[]>();
const handleSelectionChange = (selection: CommentType[]) => {
  selectList.value = selection;
  CommentIds.value = selectList.value.map((item) => item.prodCommId as number);
};
const del = async (id: number) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delComment(id);
        await getCommentList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "商品名",
    props: "prodName",
    key: 1,
  },
  {
    label: "用户昵称",
    props: "user",
    render(scope: { row: CommentType }) {
      return scope.row.user.nickName;
    },
    key: 2,
  },
  {
    label: "记录时间",
    props: "recTime",
    key: 3,
  },
  {
    label: "回复时间",
    props: "replyTime",
    key: 4,
  },
  {
    label: "评价得分",
    props: "score",
    key: 5,
  },
  {
    label: "是否匿名",
    props: "isAnonymous",
    key: 6,
  },
  {
    label: "审核状态",
    props: "status",
    render(scope: { row: CommentType }) {
      return scope.row.status === 1 ? "通过" : "未通过";
    },
    key: 7,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: (data: CommentType) => {
          type.value = "编辑";
          edit(data);
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: CommentType) => {
          let num = data.prodCommId as number;
          del(num);
        },
      },
    ],
  },
];
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
      if (!a.key) {
        arr.push(a);
      }
    });
  });
  return [...new Set(arr)];
});
onMounted(() => {
  getCommentList({
    ...params,
  });
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .iconList {
    font-size: 20px;

    i {
      margin: 0 10px;
    }
  }
}
</style>
