//轮播图管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <el-form
        v-if="show"
        ref="searchForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="状态" prop="status">
          <el-select
            v-model="formInline.status"
            class="m-2"
            placeholder="Select"
            size="large"
          >
            <el-option :value="0" label="禁用" />
            <el-option :value="1" label="正常" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <div class="action">
        <div>
          <el-button type="primary" @click.stop="add">新增</el-button>
        </div>
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top-start"
          >
            <el-icon @click="getSwiperList({ ...params })">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top-start"
          >
            <el-icon @click="showColumn = !showColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top-start"
          >
            <el-icon @click="show = !show">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table :column="getColumn" :tableData="SwiperList" />
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <el-dialog v-model="dialogVisible" :title="type" width="50%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="图片" prop="imgUrl">
            <el-upload
              v-model="editData.imgUrl"
              class="avatar-uploader"
              action="/api/admin/file/upload/element"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              limit="1"
              :headers="{
                Authorization: storage.getCache('token'),
              }"
            >
              <img
                v-if="editData.imgUrl"
                :src="'http://img-test.gz-yami.com/' + editData.imgUrl"
                class="avatar"
                width="240"
                height="150"
              />
              <el-icon v-else class="avatar-uploader-icon">
                <Plus />
              </el-icon>
            </el-upload>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-radio-group v-model="editData.status" class="ml-4">
              <el-radio :label="1" size="large">正常</el-radio>
              <el-radio :label="0" size="large">禁用</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="类型" prop="type">
            <el-radio-group v-model="editData.type" class="ml-4">
              <el-radio :label="1" size="large">商品</el-radio>
              <el-radio :label="0" size="large">无</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
    <el-dialog v-model="showColumn" title="多选" width="50%">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item:ColumnType)=>item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getSwiper,
  editSwiper,
  saveSwiper,
  delSwiper,
  getSwiperItem,
} from "@/server/shop/swiper";
import { SwiperType, SwiperResType, SwiperReq } from "./types/index";
import { ColumnType } from "@/types";
import { ref, nextTick, provide, onMounted, reactive, computed } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
import type { VNode, VNodeProps } from "vue";
import type { UploadProps } from "element-plus";
import storage from "@/utils/storage";
// 上传图片
const imageUrl = ref("");

const handleAvatarSuccess: UploadProps["onSuccess"] = (
  response,
  uploadFile
) => {
  imageUrl.value = URL.createObjectURL(uploadFile.raw!);
};

const beforeAvatarUpload: UploadProps["beforeUpload"] = (rawFile) => {
  if (rawFile.type !== "image/jpeg") {
    ElMessage.error("Avatar picture must be JPG format!");
    return false;
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error("Avatar picture size can not exceed 2MB!");
    return false;
  }
  return true;
};
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3, 4, 5]);

const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const searchForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
let SwiperList = ref<SwiperType[]>([]);
let total = ref<number>(0);
const getSwiperList = async (params: SwiperReq) => {
  let { data } = (await getSwiper({
    ...params,
  })) as {
    data: SwiperResType;
  };
  SwiperList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getSwiperList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getSwiperList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  status: undefined,
});
const onSubmit = () => {
  params.current = 1;
  getSwiperList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
let type = ref("新增");
let editData = ref<SwiperType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  type.value = "新增";
  editData.value = {
    title: "",
    status: 0,
    type: 0,
    seq: 0,
    pic: "",
  };
};
// 编辑
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveSwiper({ ...(editData.value as SwiperType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editSwiper({ ...(editData.value as SwiperType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getSwiperList({
    ...params,
  });
  dialogVisible.value = false;
};

// 删除
const del = async (id: number[]) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delSwiper(id as number[]);
        await getSwiperList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "轮播图片",
    props: "imgUrl",
    render(scope: { row: SwiperType }) {
      return `<img src='http://img-test.gz-yami.com/${scope.row.imgUrl}' width='240' />`;
    },
    key: 1,
  },
  {
    label: "顺序",
    props: "seq",
    key: 2,
  },
  {
    label: "状态",
    props: "user",
    key: 3,
    render(scope: { row: SwiperType }) {
      return scope.row.status === 1
        ? "<span class='normal'>正常</span>"
        : "<span class='danger'>禁用</span>";
    },
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (id: SwiperType) => {
          let { data } = (await getSwiperItem(id.imgId as number)) as {
            data: SwiperType;
          };
          type.value = "编辑";
          editData.value = { ...data };
          dialogVisible.value = true;
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: SwiperType) => {
          del([data.imgId] as number[]);
        },
      },
    ],
  },
];
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
      if (!a.key) {
        arr.push(a);
      }
    });
  });
  return [...new Set(arr)];
});
onMounted(() => {
  getSwiperList({
    ...params,
  });
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .iconList {
    font-size: 20px;

    i {
      margin: 0 10px;
    }
  }
}
</style>
