//二级路由展示
<template>
  <el-container class="layout-container-demo">
    <Aside />
    <el-container>
      <el-header style="text-align: right; font-size: 12px">
        <div class="toolbar">
          <el-dropdown>
            <el-icon style="margin-right: 8px; margin-top: 1px">
              <setting />
            </el-icon>
            <template #dropdown>
              <el-dropdown-menu>
                <el-dropdown-item @click="handleOpen"
                  >修改密码</el-dropdown-item
                >
                <el-dropdown-item @click="logout">退出登录</el-dropdown-item>
              </el-dropdown-menu>
            </template>
          </el-dropdown>
          <span>{{
            storage.getCache("userInfo")
              ? storage.getCache("userInfo").username
              : "未登录"
          }}</span>
        </div>
      </el-header>
      <el-main>
        <router-view class="view"></router-view>
      </el-main>
    </el-container>
  </el-container>
  <el-dialog
    v-model="dialogVisible"
    title="修改密码"
    width="50%"
    :before-close="handleClose"
  >
    <el-form :model="form">
      <el-form-item label="用户名" label-width="120px">
        <div>{{ storage.getCache("userInfo").username }}</div>
      </el-form-item>
      <el-form-item label="原密码" label-width="120px">
        <el-input v-model="form.password" autocomplete="off" />
      </el-form-item>
      <el-form-item label="原密码" label-width="120px">
        <el-input v-model="form.newPassword" autocomplete="off" />
      </el-form-item>
      <el-form-item label="确定密码" label-width="120px">
        <el-input v-model="form.sureNewPassword" autocomplete="off" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleClose">取消</el-button>
        <el-button type="primary" @click="editPsw"> 确定 </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import Aside from "./aside/index.vue";
import storage from "@/utils/storage";
import { useRouter } from "vue-router";
import { ElMessage, ElMessageBox } from "element-plus";
import { userLogout, editPassword } from "@/server";
import { reactive, ref } from "vue";
const router = useRouter();
const form = reactive({
  name: "",
  password: "",
  newPassword: "",
  sureNewPassword: "",
});
const dialogVisible = ref(false);
/* window.onbeforeunload = function () {
  storage.clearCache();
}; */
const handleOpen = () => {
  dialogVisible.value = true;
};
const handleClose = () => {
  dialogVisible.value = false;
};
const editPsw = () => {
  handleClose();
  try {
    editPassword({
      newPassword: form.newPassword,
      password: form.password,
    });
    ElMessage({
      type: "success",
      message: "密码修改成功",
    });
  } catch (error) {
    ElMessage({
      type: "error",
      message: "密码修改失败",
    });
  }
};
const logout = () => {
  ElMessageBox.confirm("你确定要退出登录吗?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await userLogout();
        router.push("/login");
        storage.clearCache();
        ElMessage({
          type: "success",
          message: "退出登录成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "退出登录失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "error",
        message: "退出登录失败，请重新操作",
      });
    });
};
</script>

<style scoped>
.layout-container-demo {
  width: 100%;
  height: 100%;
}

.layout-container-demo .el-header {
  position: relative;
  background-color: var(--el-color-primary-light-7);
  color: var(--el-text-color-primary);
}

.layout-container-demo .el-aside {
  background: #545c64;
}

.layout-container-demo .el-menu {
  border-right: none;
}

.layout-container-demo .el-main {
  background-color: #f1f1f1;
  position: relative;
  padding: 0;
}

.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}

.view > :nth-child(2) {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
</style>
