<template>
  <el-upload
    v-model="pic"
    class="avatar-uploader"
    action="/api/admin/file/upload/element"
    :show-file-list="false"
    :on-success="handleAvatarSuccess"
    limit="1"
    :headers="{
      Authorization: storage.getCache('token'),
    }"
  >
    <img v-if="imgUrl" :src="imgUrl" class="avatar" width="240" height="150" />
    <el-icon v-else class="avatar-uploader-icon">
      <Plus />
    </el-icon>
  </el-upload>
</template>
<!-- :before-upload="beforeAvatarUpload" -->

<script setup lang="ts">
import { ElMessage, UploadProps } from "element-plus";
import storage from "@/utils/storage";
import { toRefs, ref } from "vue";
interface PropType {
  pic: string;
}
const props = defineProps<PropType>();
const { pic } = toRefs(props);
const imgUrl = ref(pic);
const handleAvatarSuccess: UploadProps["onSuccess"] = (
  response,
  uploadFile
) => {
  console.log(uploadFile.raw);
  imgUrl.value = URL.createObjectURL(uploadFile.raw!);
};

const beforeAvatarUpload: UploadProps["beforeUpload"] = (rawFile) => {
  if (rawFile.type !== "image/jpeg") {
    ElMessage.error("Avatar picture must be JPG format!");
    return false;
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error("Avatar picture size can not exceed 2MB!");
    return false;
  }
  return true;
};
</script>

<style scoped></style>
