//订单管理
<template>
  <div>
    <AHead />
    <!-- <div v-if="isRouterAlive"></div> -->
    <div class="mod-order-order">
      <!-- 搜索 -->
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input v-model="formInline.user" placeholder="订单编号" />
        </el-form-item>
        <!-- 时间日期 -->
        <el-form-item>
          <el-date-picker
            v-model="value1"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="defaultTime1"
            @change="resultchange"
          />
        </el-form-item>
        <el-form-item>
          <el-select
            v-model="formInline.region"
            :clearable="true"
            placeholder="请选择订单状态"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-col>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="daiSend"
              >导出待发货订单</el-button
            >
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="saleSend">导出销售记录</el-button>
          </el-form-item>
          <el-form-item>
            <el-button @click="clearSearch">清空</el-button>
          </el-form-item>
        </el-col>
      </el-form>
      <div class="main">
        <div class="content">
          <div class="tit">
            <el-row style="width: 100%">
              <el-col :span="10"><span class="item product">商品</span></el-col>
              <el-col :span="3"
                ><span class="item">成交单价/购买数量</span></el-col
              >
              <el-col :span="3"><span class="item">实付金额</span></el-col>
              <el-col :span="3"><span class="item">支付方式</span></el-col>
              <el-col :span="3"><span class="item">订单状态</span></el-col>
              <el-col :span="2"><span class="item">操作</span></el-col>
            </el-row>
          </div>
          <div v-for="order in orderList" :key="order.orderId" class="prod">
            <div class="prod-tit">
              <span>订单编号：{{ order.orderNumber }}</span>
              <span>下单时间：{{ order.createTime }}</span>
              <!-- <span>买家：19999999999</span>
            <span >联系电话：19999999999</span> -->
            </div>
            <div class="prod-cont">
              <el-row style="width: 100%">
                <el-col :span="12">
                  <div class="prod-item">
                    <div
                      v-for="orderItem in order.orderItems"
                      :key="orderItem.orderItemId"
                      class="items name"
                    >
                      <div class="prod-image">
                        <img
                          :src="'http://img-test.gz-yami.com/' + orderItem.pic"
                          style="height: 100px; width: 100px"
                        />
                      </div>
                      <div class="prod-name">
                        <span>{{ orderItem.prodName }}</span>
                        <span class="prod-info">{{ orderItem.skuName }}</span>
                      </div>
                      <div class="prod-price">
                        <span>￥{{ orderItem.price }}</span>
                        <span>X{{ orderItem.prodCount }}</span>
                      </div>
                    </div>
                  </div>
                </el-col>
                <el-col :span="3" style="height: 100%">
                  <div class="item">
                    <div>
                      <span class="totalprice">￥{{ order.actualTotal }}</span>
                      <span v-if="order.freightAmount"
                        >（含运费：￥{{ order.freightAmount }}）</span
                      >
                      <span>共{{ order.productNums }}件</span>
                    </div>
                  </div>
                </el-col>
                <el-col :span="3" style="height: 100%">
                  <div class="item">
                    <div>
                      <span v-if="order.payType === 1">微信支付</span>
                      <span v-else-if="order.payType === 2">支付宝</span>
                      <span v-else>手动代付</span>
                    </div>
                  </div>
                </el-col>
                <el-col :span="3" style="height: 100%">
                  <div class="item">
                    <span v-if="order.status === 1" size="small" type="danger"
                      >待付款</span
                    >
                    <span
                      v-else-if="order.status === 2"
                      size="small"
                      type="danger"
                      >待发货</span
                    >
                    <span
                      v-else-if="order.status === 3"
                      size="small"
                      type="danger"
                      >待收货</span
                    >
                    <span
                      v-else-if="order.status === 4"
                      size="small"
                      type="danger"
                      >待评价</span
                    >
                    <span
                      v-else-if="order.status === 5"
                      size="small"
                      type="danger"
                      >成功</span
                    >
                    <span v-else size="small">失败</span>
                  </div>
                </el-col>
                <el-col :span="3" style="height: 100%">
                  <div class="item">
                    <div class="operate">
                      <!-- <button onclick="">打印订单</button> -->
                      <!-- <el-button
                        v-if="isAuth('order:order:update')"
                        type="text"
                        size="small"
                        @click="addOrUpdateHandle(order.orderNumber)"
                        >修改</el-button
                      > -->
                      <el-button @click="editHandler(order.orderNumber)"
                        >修改</el-button
                      >
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
            <div class="remark">
              <div class="buyer-remark">
                <span>备注:{{ order.remarks }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <el-pagination
        :current-page="page.pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        :total="page.total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
      >
      </el-pagination> -->
      <!-- 弹窗, 新增 / 修改 -->
      <!-- <add-or-update
        v-if="addOrUpdateVisible"
        ref="addOrUpdate"
        @refreshDataList="getDataList"
      ></add-or-update>
      <consignment-info
        v-if="consignmentInfoVisible"
        ref="consignmentInfo"
        @inputCallback="getWaitingConsignmentExcel"
      ></consignment-info> -->
      <!-- 弹窗 -->
      <OrderModal :modal="modal" :show="show" @closemodal="show = false" />
    </div>
  </div>
</template>

<script setup lang="ts">
import moment from "moment";
import AHead from "@/components/aHead/index.vue";
import { getOrder, getSearch, getEdit } from "@/server/order/order";
import Pagination from "@/components/pagination/index.vue";
import {
  orderType,
  // userOrder,
  // orderItem,
  // pageType,
  orderResType,
  ProdReq,
} from "./types";
import { ref, nextTick, provide, reactive, onMounted } from "vue";
// 引入弹窗
import OrderModal from "./components/orderModal.vue";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 弹窗数据
let modal = ref();
let show = ref<boolean>(false);
// 表单
let orderList = ref<orderType[]>([]);

let formInline = reactive({
  user: "",
  region: null,
  startTime: "",
  endTime: "",
});
// 点击查询
const onSubmit = async () => {
  console.log("submit!");
  const data: any = await getSearch({
    current: 1,
    size: 10,
    orderNumber: formInline.user, // 订单搜索内容
    status: formInline.region, // 订单的状态
    startTime: formInline.startTime, // 起始时间
    endTime: formInline.endTime, // 结束时间
  });
  orderList.value = data.data.records;
  console.log(data.data.records, "res");
};
const options = [
  {
    value: 1,
    label: "待付款",
  },
  {
    value: 2,
    label: "待发货",
  },
  {
    value: 3,
    label: "待收货",
  },
  {
    value: 4,
    label: "待评价",
  },
  {
    value: 5,
    label: "成功",
  },
  {
    value: 6,
    label: "失败",
  },
];
// 日期
let value1 = ref("");
const defaultTime1 = new Date(2000, 1, 1, 12, 0, 0); // '12:00:00' s
const resultchange = (value: any) => {
  console.log(value[0]); // 打印结果是数组
  formInline.startTime = moment(value[0]).format("yyyy-MM-DD hh:mm:ss");
  formInline.endTime = moment(value[1]).format("yyyy-MM-DD hh:mm:ss");
};

// 获取列表
const params = reactive({
  current: 1,
  size: 10,
});
let total = ref<number>(0);
const getOrderList = async (params: ProdReq) => {
  let { data } = (await getOrder({
    ...params,
  })) as unknown as {
    data: orderResType;
  };
  orderList.value = data.records;
  console.log(orderList, "data.records");
  total.value = data.total;
};
// 按钮事件
// 修改
const editHandler = async (id: any) => {
  // console.log(id);
  const res: any = await getEdit({
    id,
  });
  console.log(res.data);
  modal.value = res.data;

  show.value = true;
};
const daiSend = () => {
  console.log("导出待发货订单");
};
const saleSend = () => {
  console.log("导出销售订单");
};
const clearSearch = () => {
  console.log("清空搜索");
  formInline.user = "";
  formInline.region = null;
  formInline.startTime = "";
  formInline.endTime = "";
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getOrderList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getOrderList({
    ...params,
  });
};
// 图片
console.log(window, "window");
const tableData = orderList;
console.log(tableData, "tableData");

onMounted(() => {
  getOrderList({
    ...params,
  });
});
</script>

<style scoped lang="scss">
.mod-order-order {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  .tit {
    display: flex;
    height: 45px;
    align-items: center;
  }
  .tit .item {
    padding: 0 10px;
    width: 10%;
    text-align: center;
  }
  .tit .product {
    width: 25%;
  }
  .prod-tit {
    padding: 10px;
    background: #f8f8f9;
    border-left: 1px solid #dddee1;
    border-top: 1px solid #dddee1;
    border-right: 1px solid #dddee1;
  }
  .prod-tit span {
    margin-right: 15px;
  }
  .prod-cont {
    display: flex;
    border-top: 1px solid #dddee1;
    border-bottom: 1px solid #dddee1;
    border-left: 1px solid #dddee1;
    color: #495060;
  }
  .prod-cont .item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    // width: 10%;
    border-right: 1px solid #dddee1;
    text-align: center;
    height: 100%;
  }
  .prod-cont .item span {
    display: block;
  }
  .prod-cont .prod-item {
    // width: 38%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dddee1;
  }
  .prod-name {
    width: 55%;
    text-align: left;
  }
  .prod-price {
    position: absolute;
    right: 40px;
    text-align: center;
  }
  .prod-price span {
    display: block;
    margin-bottom: 10px;
  }
  .prod-name .prod-info {
    display: block;
    color: #80848f;
    margin-top: 30px;
  }
  .prod-cont .items.name {
    display: flex;
    position: relative;
    padding: 20px;
    // height: 100px;
    border-bottom: 1px solid #dddee1;
  }
  .prod-cont .items.name:last-child {
    border-bottom: none;
  }
  .prod-image {
    margin-right: 20px;
    width: 100px;
    height: 100px;
  }
  .prod-image img {
    width: 100px;
    height: 100px;
  }
  .item span {
    display: block;
    margin-bottom: 10px;
  }
  .item .operate {
    color: #2d8cf0;
  }
  .item .totalprice {
    color: #c00;
  }
  .prod .remark {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #e8f7f6;
    border-left: 1px solid #dddee1;
    border-right: 1px solid #dddee1;
    border-bottom: 1px solid #dddee1;
    margin-bottom: 20px;
  }
  .buyer-remark {
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  // 日期
  .block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
  }
  .block:last-child {
    border-right: none;
  }
  .block .demonstration {
    display: block;
    color: var(--el-text-color-secondary);
    font-size: 14px;
    margin-bottom: 20px;
  }
}
</style>
