//管理员列表

<template>
  <Container
    :showColumn="showColumn"
    :column="column"
    :current="params.current"
    :size="params.size"
    :tableData="adminList"
    :total="total"
    :leftValue="leftValue"
    @refresh="getAdminList"
    @handleSelectionChange="handleSelectionChange"
    @handleSizeChange="handleSizeChange"
    @handleCurrentChange="handleCurrentChange"
    @handleChange="handleChange"
    @changeShowColumn="() => (showColumn = true)"
    @close="() => (showColumn = false)"
    @changeShow="() => (show = !show)"
  >
    <template #search>
      <Search
        :show="show"
        :formInline="formInline"
        @onSubmit="onSubmit"
        @resetFields="resetFields"
      ></Search>
    </template>
    <template #button>
      <el-button type="primary" @click.stop="add">新增</el-button>
      <el-button
        type="danger"
        :disabled="selectList?.length != 0 ? false : true"
        @click.stop="del(adminIds as number[])"
        >批量删除</el-button
      >
    </template>
    <template #editOrAdd>
      <EditOrAddVue
        :key="key"
        :dialogVisible="dialogVisible"
        :editData="(editData as editAdminType)"
        :roleList="roleList"
        :type="type"
        @handleClose="handleClose"
        @sure="sure"
      ></EditOrAddVue>
    </template>
  </Container>
</template>

<script setup lang="ts">
import { getAdmin, delAdmin, getAdminInfo } from "@/server/system/sys_admin";
import {
  adminType,
  adminResType,
  editAdminType,
  AdminReqType,
} from "./types/index";
import { ref, onMounted, reactive } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
import { roleType } from "../role/types";
import { getRoleList } from "@/server/system/sys_role";
import Container from "@/components/container/index.vue";
import Search from "./components/search.vue";
import EditOrAddVue from "./components/editOrAdd.vue";
let key = ref("");
const getKey = () => {
  key.value = Math.random().toString(16).slice(-6);
};

// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);

const leftValue = ref([1, 2, 3]);
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const params = reactive({
  current: 1,
  size: 10,
});
let adminList = ref<adminType[]>([]);
let total = ref<number>(0);
const getAdminList = async (params: AdminReqType) => {
  let { data } = (await getAdmin({
    ...params,
  })) as {
    data: adminResType;
  };
  adminList.value = data.records;
  total.value = data.total;
};
let roleList = ref<roleType[]>([]);
const getRole = async () => {
  let { data } = (await getRoleList()) as {
    data: roleType[];
  };
  roleList.value = data;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getAdminList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getAdminList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  username: "",
});
const onSubmit = () => {
  params.current = 1;
  getAdminList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
const handleOpen = () => {
  dialogVisible.value = true;
  getRole();
};
let type = ref("新增");
let editData = ref<editAdminType>();
// 新增
const add = () => {
  handleOpen();
  getKey();
  editData.value = {
    username: "",
    password: "",
    roleIdList: [],
    status: 0,
    email: "",
    mobile: "",
  };
};

// 编辑
const edit = (editItem: adminType) => {
  editData.value = editItem;
  handleOpen();
  getKey();
};
const sure = async () => {
  await getAdminList({
    ...params,
  });
  dialogVisible.value = false;
};

// 删除
const adminIds = ref<number[]>();
// 选择
let selectList = ref<adminType[]>();
const handleSelectionChange = (selection: adminType[]) => {
  console.log(selection);
  selectList.value = selection;
  adminIds.value = selectList.value.map((item) => item.userId as number);
};
const del = async (ids: number[]) => {
  console.log([...ids]);
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delAdmin(adminIds.value as number[]);
        await getAdminList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "用户名",
    props: "username",
    key: 1,
  },
  {
    label: "邮箱",
    props: "email",
    key: 2,
  },
  {
    label: "手机号",
    props: "mobile",
    key: 3,
  },
  {
    label: "创建时间",
    props: "createTime",
    key: 4,
  },
  {
    label: "状态",
    props: "status",
    render(scoped: { row: adminType }) {
      return scoped.row.status === 1
        ? "<span class='normal'>正常</span>"
        : "<span class='danger'>禁用</span>";
    },
    key: 5,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (editItem: adminType) => {
          type.value = "编辑";
          let { data } = (await getAdminInfo(editItem.userId)) as {
            data: adminType;
          };
          edit({
            ...data,
            userId: editItem.userId,
          });
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: adminType) => {
          let num = data.userId as number;
          adminIds.value = [num];
          del(adminIds.value);
        },
      },
    ],
  },
];
onMounted(() => {
  getAdminList({
    ...params,
  });
});
</script>
