//分类管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <div class="action">
        <div>
          <el-button type="primary" @click.stop="add">新增</el-button>
        </div>
      </div>
      <el-table
        :data="categoryList"
        style="width: 100%"
        row-key="categoryId"
        border
        lazy
        stripe
        table-layout="fixed"
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
      >
        <el-table-column prop="categoryName" label="分类名称" />
        <el-table-column prop="pic" label="图片">
          <template #default="scope">
            <el-image
              v-if="scope.row.pic"
              :src="'http://img-test.gz-yami.com/' + scope.row.pic"
              fit="fill"
            >
              <template #error>
                <div class="image-slot">
                  <el-icon>
                    <icon-picture />
                  </el-icon>
                </div>
              </template>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="状态">
          <template #default="scope">
            {{ scope.row.status === 1 ? "正常" : "禁用" }}
          </template>
        </el-table-column>
        <el-table-column prop="seq" label="排序号" />
        <el-table-column prop="action" label="操作" fixed="right" width="260">
          <template #default="scope">
            <el-button type="primary" @click="edit(scope.row.categoryId)"
              >修改</el-button
            >
            <el-button type="danger" @click="del(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-dialog v-model="dialogVisible" :title="type" width="60%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="图片" prop="pic">
            <Upload :pic="editData.pic" />
          </el-form-item>
          <el-form-item label="分类名称" prop="categoryName">
            <el-input v-model="editData.categoryName" placeholder="分类名称" />
          </el-form-item>
          <el-form-item label="上级分类" prop="parentId">
            <el-cascader
              v-model="editData.parentId"
              :options="categoryList"
              :props="prop"
              @change="change"
            />
          </el-form-item>
          <el-form-item label="排序">
            <el-input-number
              v-model="editData.seq"
              :min="1"
              :max="10"
              controls-position="right"
              size="large"
            />
          </el-form-item>
          <el-form-item label="状态">
            <el-radio-group v-model="editData.status" class="ml-4">
              <el-radio :label="0" size="large">下线</el-radio>
              <el-radio :label="1" size="large">正常</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Upload from "@/components/upload/index.vue";
import {
  getCategory,
  editCategory,
  saveCategory,
  delCategory,
  getCategoryInfo,
} from "@/server/produce/pro_Category";
import { ref, nextTick, provide, onMounted, reactive } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import { CategoryResType } from "./types";

const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 获取列表
const params = reactive({
  current: 1,
  size: 10,
});
let categoryList = ref<CategoryResType[]>([]);
const getCategoryList = async () => {
  let { data } = (await getCategory({
    ...params,
  })) as {
    data: CategoryResType[];
  };
  let arr = data.filter((value: CategoryResType) => {
    return value.parentId === 0;
  });
  interface ArrType extends CategoryResType {
    children?: ArrType[];
  }
  arr.forEach((item: ArrType) => {
    item.children = data.filter((value: CategoryResType) => {
      return value.parentId === item.categoryId;
    });
    item.children.forEach((v) => {
      v.children = data.filter((value: CategoryResType) => {
        return value.parentId === v.categoryId;
      });
    });
  });
  categoryList.value = arr;
  console.log(arr);
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};

let type = ref("新增");
let editData = ref<CategoryResType>({
  categoryName: "",
  parentId: 0,
  seq: 1,
  status: 1,
  pic: "",
});
const change = (value: number[]) => {
  console.log(value);
  editData.value = {
    ...editData.value,
    parentId: value[value.length - 1],
  };
};
// 新增
const add = () => {
  dialogVisible.value = true;
  editData.value = {
    categoryName: "",
    parentId: 0,
    seq: 1,
    status: 1,
    pic: "",
  };
  type.value = "新增";
};
// 编辑
const prop = reactive({
  checkStrictly: true,
  id: "categoryId",
  label: "categoryName",
  value: "categoryId",
  children: "children",
});
const edit = async (id: number) => {
  type.value = "编辑";
  dialogVisible.value = true;
  let { data } = (await getCategoryInfo(id)) as {
    data: CategoryResType;
  };
  editData.value = data;
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveCategory({ ...(editData.value as CategoryResType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editCategory({ ...(editData.value as CategoryResType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getCategoryList();
  dialogVisible.value = false;
};

// 删除
const del = async (id: number) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delCategory(id as number);
        await getCategoryList();
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};

onMounted(() => {
  getCategoryList();
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
