<template>
  <div v-if="store.nav.length > 0" class="nav">
    <el-tabs
      v-model="store.active"
      type="card"
      class="demo-tabs"
      closable
      @tab-remove="removeTab"
      @tab-click="click"
    >
      <el-tab-pane
        v-for="(item, index) in store.nav"
        :key="index"
        :name="item.path"
        :label="item.name"
      >
      </el-tab-pane>
    </el-tabs>
    <el-dropdown class="tools" @command="command">
      <span class="el-dropdown-link">
        <el-icon class="el-icon--right">
          <arrow-down />
        </el-icon>
      </span>
      <template #dropdown>
        <el-dropdown-menu>
          <el-dropdown-item command="current">关闭当前标签页</el-dropdown-item>
          <el-dropdown-item command="other">关闭其他标签页</el-dropdown-item>
          <el-dropdown-item command="all">关闭全部标签页</el-dropdown-item>
          <el-dropdown-item command="refresh">刷新当前标签页</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
  </div>
</template>

<script setup lang="ts">
import { TabsPaneContext } from "element-plus";
import { inject } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "@/store";
const store = useStore();
const router = useRouter();
const reload = inject<() => void>("reload");
const click = (pane: TabsPaneContext) => {
  router.push(pane.props.name as string);
  store.active = pane.props.name as string;
  localStorage.setItem("active", JSON.stringify(store.active));
};
const removeTab = (targetName: string) => {
  store.nav.forEach((item: { path: string }, index: number) => {
    if (item.path === targetName) {
      store.nav.splice(index, 1);
    }
  });
  if (store.nav.length > 0) {
    store.active = store.nav[store.nav.length - 1].path;
    router.push(store.nav[store.nav.length - 1].path as string);
  } else {
    router.push("/home/index");
  }
  localStorage.setItem("headNav", JSON.stringify(store.nav));
  localStorage.setItem("active", JSON.stringify(store.active));
};
const command = (params: string) => {
  if (params === "current") {
    const index = store.nav.findIndex(
      (item: { path: string }) => item.path === store.active
    );
    store.nav = store.nav.filter(
      (item: { path: string }) => item.path !== store.active
    );

    if (index === 0) {
      store.active = store.nav[0].path;
    } else if (index === store.nav.length) {
      store.active = store.nav[store.nav.length - 1].path;
    } else {
      store.active = store.nav[index].path;
    }
    router.push(store.active);
  } else if (params === "other") {
    store.nav = store.nav.filter(
      (item: { path: string }) => item.path === store.active
    );
  } else if (params === "all") {
    store.nav = [];
    router.push("/home/index");
  } else if (params === "refresh") {
    reload && reload();
  }
  localStorage.setItem("headNav", JSON.stringify(store.nav));
  localStorage.setItem("active", JSON.stringify(store.active));
};
</script>

<style scoped lang="scss">
.nav {
  // position: absolute;
  // left: 0;
  // top: 0px;
  width: 100%;
  background-color: #fff;
  .tools {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
    padding: 0 10px;
    background: #f1f1f1;
  }
}
</style>
