//系统日志

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive" class="container">
      <el-form
        ref="searchSystemForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="formInline.username" placeholder="搜索用户名" />
        </el-form-item>
        <el-form-item label="用户操作" prop="operation">
          <el-input v-model="formInline.operation" placeholder="搜索用户操作" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchSystemForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <Table
        :refs="'multipleTableRef'"
        :column="column"
        :tableData="systemList"
        @handleSelectionChange="handleSelectionChange"
        @toggleSelection="toggleSelection"
      >
        <template #total="{ multipleTableRef }">
          <div>
            <span
              >已选择{{ selectList?.length ? selectList?.length : 0 }}条</span
            >
            <el-button
              v-if="multipleTableRef"
              @click="toggleSelection(multipleTableRef)"
              >清空</el-button
            >
          </div>
        </template>
      </Table>
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import { getSystem } from "@/server/system/sys_system";
import { ref, nextTick, provide, onMounted, reactive } from "vue";
import { ElTable, FormInstance } from "element-plus";
import { systemType, systemResType } from "./types";
import { AddressType } from "@/types/address";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 获取列表
const searchSystemForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getSystemList();
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getSystemList();
};
// 搜索
const formInline = reactive({
  username: "",
  operation: "",
});
const onSubmit = () => {
  params.current = 1;
  getSystemList();
};
const resetFields = (formEl: FormInstance | undefined) => {
  console.log(formEl);
  if (!formEl) return;
  formEl.resetFields();
};
// 选择
let selectList = ref<systemType[]>();
const handleSelectionChange = (selection: systemType[]) => {
  selectList.value = selection;
};

const column = [
  {
    label: "用户名",
    props: "username",
    fixed: "left",
  },
  {
    label: "用户操作",
    props: "operation",
  },
  {
    label: "请求方法",
    props: "method",
    width: 240,
  },
  {
    label: "请求参数",
    props: "params",
    width: 350,
  },
  {
    label: "执行时长（毫秒）",
    props: "time",
  },
  {
    label: "ip地址",
    props: "ip",
  },
  {
    label: "创建时间",
    props: "createDate",
  },
];
let systemList = ref<systemType[]>([]);
let total = ref<number>(0);
const getSystemList = async () => {
  let { data } = (await getSystem({
    ...params,
    ...formInline,
  })) as {
    data: systemResType;
  };
  systemList.value = data.records;
  total.value = data.total;
};
const toggleSelection = (
  multipleTableRef: InstanceType<typeof ElTable>,
  rows?: AddressType[]
) => {
  if (multipleTableRef) {
    if (rows) {
      rows.forEach((row) => {
        // TODO: improvement typing when refactor table
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        // @ts-expect-error
        multipleTableRef.toggleRowSelection(row, undefined);
      });
    } else {
      multipleTableRef.clearSelection();
    }
  }
};
onMounted(() => {
  getSystemList();
});
</script>
<style scoped lang="scss"></style>
