//菜单管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <div>
        <el-button type="primary" @click.stop="add">新增</el-button>
      </div>
      <el-table
        :data="MenuList"
        style="width: 100%"
        row-key="menuId"
        border
        lazy
        table-layout="fixed"
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
      >
        <el-table-column prop="name" label="名称" />
        <el-table-column prop="icon" label="图标">
          <template #default="scope">
            <el-icon v-if="scope.row.icon">
              <component
                :is="
                  scope.row.icon.replace(
                    scope.row.icon[0],
                    scope.row.icon[0].toUpperCase()
                  )
                "
              />
            </el-icon>
          </template>
        </el-table-column>
        <el-table-column prop="orderNum" label="排序号" />
        <el-table-column prop="url" label="菜单url" />
        <el-table-column prop="perms" label="授权标识" />
        <el-table-column prop="action" label="操作" width="240" fixed="right">
          <template #default="scope">
            <el-button type="primary" @click="edit(scope.row.menuId)"
              >修改</el-button
            >
            <el-button type="danger" @click="del(scope.row.menuId)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <el-dialog v-model="dialogVisible" :title="type" width="60%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="类型" prop="type">
            <el-radio-group v-model="editData.type">
              <el-radio :label="0">目录</el-radio>
              <el-radio :label="1">菜单</el-radio>
              <el-radio :label="2">按钮</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item
            :label="
              editData.type === 0
                ? '目录名称'
                : editData.type === 1
                ? '菜单名称'
                : '按钮名称'
            "
            prop="name"
          >
            <el-input
              v-model="editData.name"
              :placeholder="
                editData.type === 0
                  ? '目录名称'
                  : editData.type === 1
                  ? '菜单名称'
                  : '按钮名称'
              "
            />
          </el-form-item>
          <el-form-item label="上级目录" prop="name">
            <el-cascader
              v-model="editData.parentId"
              :options="MenuList"
              :props="prop"
              clearable
              @change="change"
            />
          </el-form-item>
          <el-form-item v-if="editData.type === 1" label="菜单路由" prop="url">
            <el-input v-model="editData.url" placeholder="菜单路由" />
          </el-form-item>
          <el-form-item
            v-if="editData.type !== 0"
            label="授权标识"
            prop="perms"
          >
            <el-input v-model="editData.perms" placeholder="授权标识" />
          </el-form-item>
          <el-form-item
            v-if="editData.type !== 2"
            label="排序号"
            prop="orderNum"
          >
            <el-input-number
              v-model="editData.orderNum"
              :min="0"
              controls-position="right"
              size="large"
            />
          </el-form-item>
          <el-form-item v-if="editData.type !== 2" label="菜单icon" prop="icon">
            <el-input v-model="editData.icon" placeholder="菜单icon" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getMenu,
  saveMenu,
  editMenu,
  delMenu,
  getMenuInfo,
} from "@/server/system/sys_menu";
import { MenuType, editMenuType } from "./types/index";
import { ref, nextTick, provide, onMounted, reactive } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 获取列表
const params = reactive({
  current: 1,
  size: 10,
});
let MenuList = ref<MenuType[]>([]);
let total = ref<number>(0);
const getMenuList = async () => {
  let { data } = (await getMenu()) as {
    data: MenuType[];
  };
  let arr = data.filter((item) => item.parentId === 0);
  arr.forEach((item) => {
    item.children = data.filter((a) => a.parentId === item.menuId);
    item.children.forEach((v) => {
      v.children = data.filter((a) => a.parentId === v.menuId);
    });
  });
  MenuList.value = arr;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getMenuList();
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getMenuList();
};
// 搜索
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
const handleOpen = () => {
  dialogVisible.value = true;
};
let type = ref("新增");
let editData = ref<editMenuType>({
  icon: "",
  menuId: 0,
  name: "",
  orderNum: 0,
  parentId: 0,
  perms: "",
  type: 0,
  url: "",
});
// 新增
const add = () => {
  handleOpen();
  editData.value = {
    icon: "",
    menuId: 0,
    name: "",
    orderNum: 0,
    parentId: 0,
    perms: "",
    type: 0,
    url: "",
  };
  type.value = "新增";
};
const prop = reactive({
  checkStrictly: true,
  id: "menuId",
  label: "name",
  value: "menuId",
  children: "children",
});
// 编辑
const edit = async (editId: number) => {
  let { data } = (await getMenuInfo(editId)) as { data: editMenuType };
  editData.value = data;
  handleOpen();
  type.value = "编辑";
};
const change = (value: number[]) => {
  editData.value = {
    ...editData.value,
    parentId: value[value.length - 1],
  };
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveMenu({ ...(editData.value as editMenuType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editMenu({ ...(editData.value as editMenuType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getMenuList();
  dialogVisible.value = false;
};

// 删除
const del = async (id: number) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delMenu(id);
        await getMenuList();
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};

onMounted(() => {
  getMenuList();
});
</script>
<style scoped lang="scss"></style>
