<template>
  <el-form
    v-if="editData"
    ref="ruleFormRef"
    :model="editData"
    label-width="120px"
  >
    <el-form-item label="角色名称" prop="roleName">
      <el-input v-model="editData.roleName" placeholder="角色名称" />
    </el-form-item>
    <el-form-item label="备注" prop="remark">
      <el-input v-model="editData.remark" placeholder="备注" />
    </el-form-item>
    <el-form-item label="授权">
      <el-tree
        :default-checked-keys="editData.menuIdList"
        :data="menuData"
        show-checkbox
        node-key="menuId"
        :props="defaultProps"
        @check="handleCheckChange"
      />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="handleClose()">取消</el-button>
      <el-button type="primary" @click="sure">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
import { editRole, saveRole } from "@/server/system/sys_role";
import { toRefs } from "vue";
import { MenuType } from "../../Menu/types";
import { roleType, editRoleType } from "../types";
const props = defineProps<{
  editData: editRoleType;
  type: string;
  menuData: MenuType[];
}>();
const defaultProps = {
  children: "children",
  label: "name",
};
const { editData, type } = toRefs(props);
const emit = defineEmits(["handleClose", "sure", "handleCheckChange"]);
const handleClose = () => {
  emit("handleClose");
};
const handleCheckChange = () => {
  emit("handleCheckChange");
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveRole({ ...(editData.value as roleType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editRole({ ...(editData.value as roleType) });
    } catch (err) {
      console.log(err);
    }
  }
  emit("sure");
};
</script>

<style scoped></style>
