<template>
  <el-form
    v-if="editData"
    ref="ruleFormRef"
    :model="editData"
    label-width="120px"
  >
    <el-form-item label="参数名" :prop="editData.paramKey">
      <el-input v-model="editData.paramKey" placeholder="参数名" />
    </el-form-item>
    <el-form-item label="参数值" :prop="editData.paramValue">
      <el-input v-model="editData.paramValue" placeholder="参数值" />
    </el-form-item>
    <el-form-item label="备注" :prop="editData.remark">
      <el-input v-model="editData.remark" placeholder="备注" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="handleClose()">取消</el-button>
      <el-button type="primary" @click="sure">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
import { editConfig, saveConfig } from "@/server/system/sys_config";
import { toRefs } from "vue";
import { configType } from "../types";
const props = defineProps<{
  editData: configType;
  type: string;
}>();
const { editData, type } = toRefs(props);
const emit = defineEmits(["handleClose", "sure"]);
const handleClose = () => {
  emit("handleClose");
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveConfig({ ...(editData.value as configType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editConfig({ ...(editData.value as configType) });
    } catch (err) {
      console.log(err);
    }
  }
  await emit("sure");
};
</script>

<style scoped></style>
