//运费管理

<template>
  <div>
    <AHead />
    <div v-if="isRouterAlive">
      <el-form
        v-if="show"
        ref="searchForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="模板名称" prop="transName">
          <el-input v-model="formInline.transName" placeholder="搜索模板名称" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <div class="action">
        <div>
          <el-button type="primary" @click.stop="">新增</el-button>
          <el-button
            type="danger"
            :disabled="selectList?.length != 0 ? false : true"
            @click.stop="del(FreightIds as number[])"
            >批量删除</el-button
          >
        </div>
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top-start"
          >
            <el-icon @click="getFreightList({ ...params })">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top-start"
          >
            <el-icon @click="showColumn = !showColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top-start"
          >
            <el-icon @click="show = !show">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table
        :column="getColumn"
        :tableData="FreightList"
        @handleSelectionChange="handleSelectionChange"
      />
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <!-- <el-dialog v-model="dialogVisible" :title="type" width="50%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="模板名称" :prop="editData.title">
            <el-input v-model="editData.title" placeholder="模板名称" />
          </el-form-item>
          <el-form-item label="热搜内容" :prop="editData.content">
            <el-input v-model="editData.content" placeholder="热搜内容" />
          </el-form-item>
          <el-form-item label="顺序" :prop="editData.seq">
            <el-input-number
              v-model="editData.seq"
              :min="1"
              :max="10"
              controls-position="right"
              size="large"
            />
          </el-form-item>

          <el-form-item label="状态" :prop="editData.status">
            <el-radio-group v-model="editData.status" class="ml-4">
              <el-radio :label="1" size="large">启用</el-radio>
              <el-radio :label="0" size="large">未启用</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog> -->
    </div>

    <el-dialog v-model="showColumn" title="多选" width="50%">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item:ColumnType)=>item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getFreight,
  editFreight,
  saveFreight,
  delFreight,
  getFreightItem,
} from "@/server/shop/freight";
import { FreightType, FreightResType, FreightReq } from "./types/index";
import { ColumnType } from "@/types";
import { ref, nextTick, provide, onMounted, reactive, computed } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
import type { VNode, VNodeProps } from "vue";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3, 4, 5]);

const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const searchForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
let FreightList = ref<FreightType[]>([]);
let total = ref<number>(0);
const getFreightList = async (params: FreightReq) => {
  let { data } = (await getFreight({
    ...params,
  })) as {
    data: FreightResType;
  };
  FreightList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getFreightList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getFreightList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  transName: "",
});
const onSubmit = () => {
  params.current = 1;
  getFreightList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
/* let type = ref("新增");
let editData = ref<FreightType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  type.value = "新增";
  editData.value = {
    transName: "",
    status: 0,
    content: "",
    seq: 0,
  };
};
// 编辑
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveFreight({ ...(editData.value as FreightType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editFreight({ ...(editData.value as FreightType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getFreightList({
    ...params,
  });
  dialogVisible.value = false;
}; */

// 删除
const FreightIds = ref<number[]>();
// 选择
let selectList = ref<FreightType[]>();
const handleSelectionChange = (selection: FreightType[]) => {
  console.log(selection);
  selectList.value = selection;
  FreightIds.value = selectList.value.map((item) => item.transportId as number);
};
const del = async (ids: number[]) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delFreight(ids as number[]);
        await getFreightList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "模板名称",
    props: "transName",
    key: 1,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (id: FreightType) => {
          let { data } = (await getFreightItem(id.transportId as number)) as {
            data: FreightType;
          };
          // type.value = "编辑";
          // editData.value = { ...data };
          // dialogVisible.value = true;
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: FreightType) => {
          del([data.transportId] as number[]);
        },
      },
    ],
  },
];
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
      if (!a.key) {
        arr.push(a);
      }
    });
  });
  return [...new Set(arr)];
});
onMounted(() => {
  getFreightList({
    ...params,
  });
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .iconList {
    font-size: 20px;

    i {
      margin: 0 10px;
    }
  }
}
</style>
