<template>
  <el-dialog v-model="dialogVisible" :title="type" width="60%">
    <el-form
      v-if="editData"
      ref="ruleFormRef"
      :model="editData"
      label-width="120px"
    >
      <el-form-item label="用户名" prop="username">
        <el-input v-model="editData.username" placeholder="用户名" />
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input
          v-model="editData.password"
          type="password"
          placeholder="密码"
        />
      </el-form-item>
      <el-form-item label="确认密码" type="password" prop="surePsw">
        <el-input v-model="editData.surePsw" placeholder="密码" />
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="editData.email" placeholder="邮箱" />
      </el-form-item>
      <el-form-item label="手机号" prop="mobile">
        <el-input v-model="editData.mobile" placeholder="手机号" />
      </el-form-item>
      <el-form-item label="角色" prop="userId">
        <el-checkbox-group v-model="editData.roleIdList">
          <el-checkbox
            v-for="(item, index) in roleList"
            :key="index"
            :label="item.roleId"
            >{{ item.roleName }}</el-checkbox
          >
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-radio-group v-model="editData.status" class="ml-4">
          <el-radio :label="1" size="large">正常</el-radio>
          <el-radio :label="0" size="large">禁用</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleClose">取消</el-button>
        <el-button type="primary" @click="sure">确定</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script setup lang="ts">
import { editAdmin, saveAdmin } from "@/server/system/sys_admin";
import { toRefs } from "vue";
import { roleType } from "../../role/types";
import { adminType, editAdminType } from "../types";
const props = defineProps<{
  editData: editAdminType;
  roleList: roleType[];
  type: string;
  dialogVisible: boolean;
}>();
const { editData, type, roleList, dialogVisible } = toRefs(props);
const emit = defineEmits(["handleClose", "sure"]);
const handleClose = () => {
  emit("handleClose");
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveAdmin({ ...(editData.value as adminType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editAdmin({ ...(editData.value as adminType) });
    } catch (err) {
      console.log(err);
    }
  }
  emit("sure");
};
</script>

<style scoped></style>
