<template>
  <el-form
    v-if="show"
    ref="searchForm"
    :inline="true"
    :model="formInline"
    class="demo-form-inline"
  >
    <el-form-item label="用户名" prop="username">
      <el-input v-model="formInline.username" placeholder="搜索用户名" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">搜索</el-button>
      <el-button @click="resetFields">清空</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
import { FormInstance } from "element-plus";
import { ref, toRefs } from "vue";

const props = defineProps<{
  show: boolean;
  formInline: any;
}>();
const { show, formInline } = toRefs(props);

const emit = defineEmits(["onSubmit", "resetFields"]);

const onSubmit = () => {
  emit("onSubmit");
};
const searchForm = ref<FormInstance>();
const resetFields = () => {
  emit("resetFields", searchForm.value);
};
</script>

<style scoped></style>
