<template>
  <slot name="total" :multipleTableRef="multipleTableRef"></slot>
  <el-table
    ref="multipleTableRef"
    :data="tableData"
    tooltip-effect="dark"
    border
    style="width: 100%"
    stripe
    table-layout="fixed"
    @selection-change="handleSelectionChange"
  >
    <el-table-column align="center" type="selection" width="55">
    </el-table-column>
    <el-table-column
      v-for="(item, index) in column"
      :key="index"
      align="center"
      :prop="item.props"
      :label="item.label"
      :width="item.width"
      :fixed="item.fixed"
    >
      <template v-if="item.actions" #default="scope">
        <el-button
          v-for="(action, num) in item.actions"
          :key="num"
          :type="action.type"
          :icon="action.icon"
          @click="action.event(scope.row)"
        >
          {{ action.name }}
        </el-button>
      </template>
      <template v-else-if="item.render" #default="scope">
        <div v-html="item.render(scope)"></div>
      </template>
    </el-table-column>
  </el-table>
</template>

<script setup lang="ts">
import { toRefs, ref } from "vue";
import { ColumnType } from "@/types";
import { ElTable } from "element-plus";
const multipleTableRef = ref<InstanceType<typeof ElTable>>();
interface PropType {
  column: ColumnType[];
  tableData: any[];
}
const props = defineProps<PropType>();
const emit = defineEmits(["handleSelectionChange"]);
const { tableData, column } = toRefs(props);
const handleSelectionChange = (data: any[]) => {
  emit("handleSelectionChange", data);
};
</script>

<style scoped></style>
