<script setup lang="ts">
import storage from "./utils/storage";
import { useStore } from "@/store";
const store = useStore();
window.addEventListener("popstate", (e) => {
  storage.setCache("active", e.state.current);
  store.active = e.state.current;
  storage.getCache("nav").forEach((value: any) => {
    value.list &&
      value.list.forEach((item: any) => {
        let flag = storage.getCache("headNav").some((a: any) => {
          return a.path === e.state.current;
        });
        if ("/" + item.url === e.state.current && !flag) {
          store.nav.push({
            path: "/" + item.url,
            name: item.name,
          });
        }
      });
  });
  storage.setCache("headNav", store.nav);
});
</script>

<template>
  <router-view />
</template>

<style></style>
