* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}
.danger{
  display: inline-block;
  background-color: pink;
  color: #f00;
  padding: 0 15px;
  line-height: 20px;
}
.normal{
  display: inline-block;
  padding: 0 15px;
  line-height: 20px;
  background-color: #09f;
  color: #fff;
}