//登录
<template>
  <div class="login">
    <div class="login-box">
      <div class="top">
        <div class="logo">
          <img src="~@/assets/img/login-logo.png" alt="" />
        </div>
      </div>
      <div class="mid">
        <el-form
          ref="ruleFormRef"
          :model="dataForm"
          :rules="dataRule"
          label-width="120px"
          @keydown.enter="login"
        >
          <el-form-item label="帐号" prop="userName">
            <el-input v-model="dataForm.userName" placeholder="帐号" />
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input
              v-model="dataForm.password"
              class="info"
              type="password"
              placeholder="密码"
            ></el-input>
          </el-form-item>
          <el-form-item label="验证码" prop="captcha">
            <el-row :gutter="20">
              <el-col :span="14">
                <el-input v-model="dataForm.captcha" placeholder="验证码">
                </el-input>
              </el-col>
              <el-col :span="10" class="login-captcha">
                <img
                  :src="store.captchaPath"
                  alt=""
                  @click="getCaptchaData()"
                />
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="login()">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { FormInstance, FormRules } from "element-plus";
import { useStore } from "@/store";
import { onMounted, ref, reactive } from "vue";
import { dataToParam } from "./types/index";
import storage from "@/utils/storage";
const store = useStore();

const ruleFormRef = ref<FormInstance>();
// 表单数据
let dataForm = reactive<dataToParam>({
  userName: "",
  password: "",
  uuid: store.uuid,
  captcha: "",
});
// 校验规则
const dataRule = reactive<FormRules>({
  userName: [{ required: true, message: "帐号不能为空", trigger: "blur" }],
  password: [{ required: true, message: "密码不能为空", trigger: "blur" }],
  captcha: [{ required: true, message: "验证码不能为空", trigger: "blur" }],
});

// 登录
const login = async () => {
  console.log(store);
  store.toLogin({ ...dataForm });
};

// 验证码
const getCaptchaData = async () => {
  store.getCaptchaData();
};
onMounted(() => {
  getCaptchaData();
  storage.clearCache();
});
</script>

<style scoped lang="scss">
.login {
  width: 100%;
  height: 100%;
  background: url("@/assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;

  .login-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    padding-top: 10%;
  }
}

.login .login-box .top {
  margin-bottom: 30px;
  text-align: center;
}

.login .login-box .top .logo {
  font-size: 0;
}

.login .login-box .top .company {
  font-size: 16px;
  margin-top: 10px;
}

.login .login-box .mid {
  font-size: 14px;
}

.login .login-box .mid .item-btn {
  margin-top: 20px;
}

.login .login-box .mid .item-btn input {
  border: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0;
  background: #1f87e8;
  color: #fff;
  border-radius: 3px;
}

.info {
  width: 410px;
}

.login-captcha {
  height: 40px;
}

.login .login-box .bottom {
  position: absolute;
  bottom: 10%;
  width: 100%;
  color: #999;
  font-size: 12px;
  text-align: center;
}
</style>
